{% extends "general/layout.html" %}
{% load i18n %}
{% block head_title %}Stellar Blade{% endblock  %}
{% block description %}{% trans "Pagina de recordar contraseña" %}{% endblock %}
{% block page_title %}{% trans "RECUPERACION DE CONTRASEÑA" %}{% endblock  %}
{% block page_content %}
<div class="container-recuperacion-contraseña">
    <p>{% trans "Introduce tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña." %}</p>
    <form class="formulario-recuperacion-contraseña" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="boton-recuperar-contraseña" type="submit">{% trans "Envíar correo" %}</button>
    </form>
</div>
{% endblock  %}