{% extends "general/layout.html" %}
{% load i18n %}
{% block head_title %}Stellar Blade{% endblock  %}
{% block description %}{% trans "Pagina de solicitud de cambio de contraseña" %}{% endblock %}
{% block page_title %}{% trans "RECUPERACION DE CONTRASEÑA" %}{% endblock  %}
{% block page_content %}
<div class="container-recuperacion-contraseña">
    <h2 class="title-recuperacion-contraseña">{% trans "Correo enviado" %}</h2>
    <p>{% trans "Si existe una cuenta asociada a ese correo, recibirás instrucciones para restablecer tu contraseña." %}</p>
</div>
{% endblock  %}