{% extends "general/layout.html" %}
{% load i18n %}
{% block head_title %}Stellar Blade{% endblock  %}
{% block description %}{% trans "Pagina de cambio de contraseña" %}{% endblock %}
{% block page_title %}{% trans "RECUPERACION DE CONTRASEÑA" %}{% endblock  %}
{% block page_content %}
<div class="container-recuperacion-contraseña">
    <h2 class="title-recuperacion-contraseña">{% trans "Restablecer contraseña" %}</h2>
    <form class="formulario-cambio-contraseña" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="boton-cambiar-contraseña" type="submit">{% trans "Cambiar contraseña" %}</button>
    </form>
</div>
{% endblock  %}