{% extends "general/layout.html" %}
{% block head_title %}Stellar Blade{% endblock  %}
{% block page_title %}MI PERFIL{% endblock  %}
{% block page_content %}
<div class="container-mi-perfil">
    <article class="mi-perfil-top" >
        {% if perfil.imagen_perfil %}
            <img src="{{perfil.imagen_perfil.thumbnails.medium.url}}" alt="{{perfil.usuario}}">
        {% else %}
            <i class="bi bi-person-circle"></i>
        {% endif %}
        <div class="descripcion-mi-perfil">
            <div class="editar-eliminar-mi-perfil">
                <p><strong>{{perfil.usuario}}</strong></p>
                {% if request.user.perfil.usuario == perfil.usuario %}
                <a class="boton-editar" href="{% url 'usuarios:update' perfil.pk %}">Editar perfil</a>
                <a class="boton-eliminar" href="{% url 'usuarios:delete' perfil.pk %}">Eliminar perfil</a>
                {% endif %}
            </div>
            <div class="crear-publicacion-cerrar-sesion-mi-perfil">
                {% if request.user.perfil.usuario == perfil.usuario %}
                <a class="boton-crear-publicacion" href="{% url 'publicaciones:crear' %}">Crear publicación</a>
                <a class="boton-cerrar-sesion" href="{% url 'logout' %}">Cerrar sesión</a>
                {% endif %}
            </div>
            <div class="seguidores-seguidos-mi-perfil">
                <p>Seguidores:<span>{{perfil.siguiendo.count}}</span></p>
                <p>Siguiendo:<span>{{perfil.seguidores.count}}</span></p>
            </div>
            <div class="biografia-mi-perfil">
                <p>{{perfil.biografia}}</p>
            </div>
        </div>
    </article>
    <div class="container-mis-ultimas-publicaciones">
        <h3>Mis ultimas publicaciones</h3>
        <div class="mis-ultimas-publicaciones">
            {% for publicacion in publicaciones %}
                {% include "_includes/_publicaciones.html" %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock  %}