{% extends "general/layout.html" %}
{% block head_title %}Stellar Blade{% endblock  %}
{% block page_title %}DETALLE DEL PERFIL{% endblock %}
{% block page_content %}
<div class="container-perfiles-detail">
    <article class="perfiles-detail" >
        {% if perfil.imagen_perfil %}
                <img src="{{perfil.imagen_perfil.thumbnails.small.url}}" alt="{{perfil.usuario}}">
        {% endif %}
        <div class="descripcion-perfiles-detail">
            <div class="seguidores-siguiendo-mensaje">
                <p class='seguidores' id="Nseguidores-{{perfil.pk}}">Seguidores:<span>{{perfil.siguiendo.count}}</span></p>
                <p class="siguiendo">Siguiendo<span>{{perfil.seguidores.count}}</span></p>
                <a class="mensaje" href="{% url 'mensajes:nuevo' perfil.pk %}"><i class="bi bi-envelope"></i></a>
            </div>
            <div class="nombre-te-sigue">
                <p><strong>{{perfil.usuario}}</strong></p>
                {% if perfil in request.user.perfil.siguiendo.all  %}
                    <span>Te sigue</span>
                {% endif %}
            </div>
            <div class="biografia-perfiles-detail">
                <p>{{perfil.biografia}}</p>
            </div>
            <div class="botones-seguir-dejar-de-seguir">
                <a class='ButtonFollows' data-perfil-id='{{perfil.pk}}' href="{% url 'usuarios:follow' perfil.pk %}">
                    {% if request.user.perfil in perfil.siguiendo.all %}
                        <button type="button" class="boton-dejar-de-seguir">Dejar de seguir</button>
                    {% else %}
                        <button type="button" class="boton-seguir">Seguir</button>
                    {% endif %}
                </a>
            </div>
        </div>
    </article>
    <div class="container-ultimas-publicaciones-perfiles-detail">
        <h3 class="title-ultimas-publicaciones-perfiles-detail">Ultimas publicaciones</h3>
        <div class="ultimas-publicaciones-perfiles-detail">
            {% for publicacion in perfil.publicaciones.all %}
                    {% include "_includes/_publicaciones.html" %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock  %}