{% extends "general/layout.html" %}
{% load crispy_forms_tags %}
{% block head_title %}Stellar Blade{% endblock  %}
{% block page_title %}Edita tu perfil{% endblock  %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <form action="" method='POST' enctype='multipart/form-data'>
                    {% csrf_token %}
                    {{form.imagen_perfil | as_crispy_field}}
                    {{form.biografia | as_crispy_field}}
                    {{form.fecha_nacimiento | as_crispy_field}}
                    <button class="btn btn-outline-primary">Actualizar usuario</button>
                    <a href="{% url 'usuarios:mi_perfil' request.user.perfil.pk %}"><button type="button" class="btn btn-outline-warning">Cancelar</button></a>
                </form>
            </div>
        </div>
    </div>
{% endblock  %}