{% extends "general/layout.html" %}
{% load i18n %}
{% block head_title %}Stellar Blade{% endblock  %}
{% block description %}{{perfil.usuario}} - {{perfil.biografia}}{% endblock %}
{% block page_title %}{% trans "DETALLE DE PERFIL" %}{% endblock %}
{% block page_content %}
<div class="container-perfiles-detail">
    <article class="perfiles-detail" >
        {% if perfil.imagen_perfil %}
                <img src="{{perfil.imagen_perfil.thumbnails.medium.url}}" alt="{{perfil.usuario}}">
        {% else %}
            <i id="icon-user" class="bi bi-person-circle"></i>
        {% endif %}
        <div class="descripcion-perfiles-detail">
            <div class="seguidores-siguiendo-mensaje">
                <p class='seguidores' id="Nseguidores-{{perfil.pk}}">{% trans "Seguidores:" %}<span>{{perfil.siguiendo.count}}</span></p>
                <p class="siguiendo">{% trans "Siguiendo:" %}<span>{{perfil.seguidores.count}}</span></p>
                <a class="mensaje" href="{% url 'mensajes:nuevo' perfil.pk %}"><i class="bi bi-envelope"></i></a>
            </div>
            <div class="nombre-te-sigue">
                <p><strong>{{perfil.usuario}}</strong></p>
                {% if perfil in request.user.perfil.siguiendo.all  %}
                    <span>{% trans "Te sigue" %}</span>
                {% endif %}
            </div>
            <div class="biografia-perfiles-detail">
                <p>{{perfil.biografia}}</p>
            </div>
            <div class="botones-seguir-dejar-de-seguir">
                <a class='ButtonFollows' data-perfil-id='{{perfil.pk}}' href="{% url 'usuarios:follow' perfil.pk %}">
                    {% if request.user.perfil in perfil.siguiendo.all %}
                        <button class="boton-dejar-de-seguir">{% trans "Dejar de seguir" %}</button>
                    {% else %}
                        <button class="boton-seguir">{% trans "Seguir" %}</button>
                    {% endif %}
                </a>
            </div>
        </div>
    </article>
    <div class="container-ultimas-publicaciones-perfiles-detail">
        <h3 class="title-ultimas-publicaciones-perfiles-detail">{% trans "Ultimas publicaciones" %}</h3>
        <div class="ultimas-publicaciones-perfiles-detail">
            {% for publicacion in perfil.publicaciones.all %}
                    {% include "_includes/_publicaciones.html" %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock  %}