{% extends "general/layout.html" %}
{% load crispy_forms_tags %}
{% block head_title %}Stellar Blade{% endblock  %}
{% block page_title %}ELIMINAR PERFIL{% endblock  %}
{% block page_content %}
<div class="container-eliminar-perfil">
    <h4 class="title-eliminar-perfil" >¿Seguro que desea eliminar su perfil: <strong>{{object.usuario}}</strong>?</h4>
    <form class="formulario-borrar-perfil" action="" method = 'POST'>
    {% csrf_token %}
    {{form}}
    <button class="boton-eliminar">Eliminar</button>
    <a class="boton-cancelar" href="{% url 'usuarios:mi_perfil' object.pk %}">Cancelar</a>
    </form>
</div>
{% endblock  %}