{% extends "general/layout.html" %}
{% block head_title %}Stellar Blade{% endblock  %}
{% block description %}Pagina de ultimas publicaciones de mis contactos{% endblock %}
{% block page_title %}MI RED{% endblock %}
{% block page_content %}
{% if publicaciones %}
    <h2 class="title-contactos">Publicaciones de mis contactos</h2>
    <div class="container-publicaciones-mis-contactos">
        {% for publicacion in publicaciones %}
            {% include "_includes/_publicaciones.html" %}
        {% endfor %}
    </div>
{% else %}
    <h2 class="title-sin-contactos">Aún no sigues a nadie</h2>
{% endif %}
{% endblock  %}