@use '../abstracts/abstracts' as abs;

//animacion para los titulos de pagina
@keyframes titulo-pagina{
    0% {
    }
    50% {
        text-shadow: 0px 0px 2px abs.$azul-neon;
    }
    100%{
        text-shadow: 0px 0px 5px abs.$gris-claro, 0px 0px 8px abs.$azul-neon;
    }
}

//animacioon para el logo de la pagina
@keyframes zoomIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes neonPulse {
    from { text-shadow: 0 0 5px abs.$rojo-neon, 0 0 10px abs.$rojo-neon; }
    to   { text-shadow: 0 0 15px abs.$rojo-neon, 0 0 25px abs.$rojo-neon; }
    }