@use '../abstracts/abstracts' as abs;
@use '../base/base' as base;
@use '../components/components' as comp;

.container-header{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    @include abs.breakpoint(tablet){
        width: 100%;
        max-width: 600px;
    }
    @include abs.breakpoint(desktopxl){
        max-width: 700px;
    }
}

.container-main{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    @include abs.breakpoint(tablet){
        width: 100%;
        max-width: 600px;
    }
    @include abs.breakpoint(desktopxl){
        max-width: 700px;
    }
}

.container-footer{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    @include abs.breakpoint(tablet){
        width: 100%;
        max-width: 600px;
    }
    @include abs.breakpoint(desktopxl){
        max-width: 700px;
    }
}



.container-respuestas{
    display: none;
}






