@use '../abstracts/abstracts' as abs;
@use '../base/base' as base;
@use '../components/components' as comp;

.container-header{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.container-main{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.container-footer{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}



.container-respuestas{
    display: none;
}






