@use '../abstracts/abstracts' as abs;
@use '../base/base' as base;
@use '../components/components' as comp;


header{
    padding-top: 20px;
    margin-bottom: 20px;
    @include abs.breakpoint(tablet){
        padding-top: 80px;
    }
    .logo-movil{
        display: flex;
        justify-content: center;
        width: max-content;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        .logo{
            width: 100%;
            text-decoration: none;
            display: flex;
            justify-content: center;
            img{
                animation: zoomIn 3s ease-out;
                width: 70%;
                @include abs.breakpoint(desktop){
                    width: 80%;
                }
            }
        }
        @include abs.breakpoint(desktop){
            display: none;
        }
    }
    .logo-desktop{
        display: none;
        justify-content: center;
        width: max-content;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        .logo{
            width: 100%;
            text-decoration: none;
            display: flex;
            justify-content: center;
            img{
                animation: zoomIn 3s ease-out;
            }
        }
        @include abs.breakpoint(desktop){
            display: flex;
        }
    }
    .menu-header-movil{
        background-color: abs.$gris-oscuro;
        opacity: 0.8;
        width: 100%;
        position: fixed;
        bottom: 0;
        @include abs.breakpoint(tablet){
            display: none;            
        }
        ul{
            position: relative;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            li{
                flex: 1;
                text-align: center;
            }
            a{
                text-decoration: none;
                color: abs.$azul-neon;
                font-size: 10px;
                i{
                    color: abs.$azul-neon;
                    font-size: 15px;
                }
            }
            .avatar-menu{
                border-radius: 50%;
                width: 40%;
                height: 40%;
                margin-bottom: 3px;
            }
            .numero-notificacion-container{
                position: relative;
                .numero-notificaciones{
                    font-size: 9px;
                    position: absolute;
                    right: 30%;
                    top: 13%;
                    background-color: abs.$rojo-neon;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                }
            }
        }
    }
    .menu-header-tablet{
        display: none;
        background-color: abs.$gris-oscuro;
        opacity: 0.9;
        width: 100%;
        position: fixed;
        top: 0;
        .logo-desktop{
            display: none;
            width: 115px;
            height: 50px;
            @include abs.breakpoint(desktop){
                display: block;
                position:absolute;
                left: 5%;
                top: 13%;
            }
        }
        ul{
            width: 100%;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include abs.breakpoint(desktopxl){
                max-width: 700px;
            }
            li{
                flex: 1;
                text-align: center;
            }
            a{  
                display: flex;
                flex-direction: column;
                text-decoration: none;
                color: abs.$azul-neon;
                font-size: 13px;
                align-items: center;
                padding-top: 10px;
                padding-bottom: 10px;
                @include abs.breakpoint(desktop){
                    &:hover{
                        background-color: abs.$azul-neon;
                        color: abs.$blanco;
                        i{
                            color: abs.$blanco;
                        }
                    }
                }
                @include abs.breakpoint(desktopxl){
                    font-size: 15px;
                }
                i{
                    color: abs.$azul-neon;
                    font-size: 17px;
                    @include abs.breakpoint(desktopxl){
                        font-size: 19px;
                    }
                }
            }
            .avatar-menu{
                border-radius: 50%;
                width: 27%;
                height: 27%;
                @include abs.breakpoint(desktopxl){
                    width: 30%;
                    height: 30%;
                }
            }
            .numero-notificacion-container{
                position: relative;
                .numero-notificaciones{
                    font-size: 8px;
                    position: absolute;
                    right: 37%;
                    top: 13%;
                    background-color: abs.$rojo-neon;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    @include abs.breakpoint(desktopxl){
                        font-size: 10px;
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
        @include abs.breakpoint(tablet){
            display: block;
        }
    }
    .container-include-mensajes{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        div{
            font-size: 8px;
            position: fixed;
            top: 0;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            opacity: 0.8;
            @include abs.breakpoint(tablet){
                top: 60px;
                font-size: 15px;
            }
            @include abs.breakpoint(desktop){
                top: 70px;
            }
            @include abs.breakpoint(desktopxl){
                top: 75px;
                font-size: 18px;
            }
        }
    }
    .container-header{
        .page-title{
            font-size: 25px;
            text-align: center;
            animation: titulo-pagina 1.5s linear forwards;
            @include abs.breakpoint(tablet){
                font-size: 35px;
                margin-bottom: 40px;
            }
            @include abs.breakpoint(desktopxl){
                font-size: 50px;
                margin-bottom: 50px;
            }
        }
    }
}




