@use '../abstracts/abstracts' as abs;
@use '../base/base' as base;
@use '../components/components' as comp;


.menu-header{
    background-color: abs.$gris-oscuro;
    opacity: 0.5;
    width: 100%;
    position: fixed;
    bottom: 0;
    ul{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        li{
            flex: 1;
            text-align: center;
        }
        a{
            text-decoration: none;
            color: abs.$azul-neon;
            i{
                color: abs.$azul-neon;
            }
        }
    }
}
