@use '../abstracts/abstracts' as abs;
@use '../base/base' as base;
@use '../components/components' as comp;


header{
    padding-top: 20px;
    margin-bottom: 20px;
    @include abs.breakpoint(tablet){
        padding-top: 70px;
    }
    h1{
        width: max-content;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        .logo{
            text-decoration: none;
            width: max-content;
            font-size: 30px;
            font-weight: bold;
            text-shadow: 2px 2px 0px abs.$azul-neon;
            animation: zoomIn 3s ease-out;
            transition: color 0.5s linear, text-shadow 0.5s linear;
            @include abs.breakpoint(tablet){
                font-size: 50px;
                text-shadow: 5px 5px 0px abs.$azul-neon;
            }
            @include abs.breakpoint(desktop){
                &:hover{
                    color: abs.$azul-neon;
                    text-shadow: 5px 5px 0px abs.$blanco;
                }
            }
        }
    }
    .menu-header-movil{
        background-color: abs.$gris-oscuro;
        opacity: 0.8;
        width: 100%;
        position: fixed;
        bottom: 0;
        @include abs.breakpoint(tablet){
            display: none;            
        }
        ul{
            position: relative;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            li{
                flex: 1;
                text-align: center;
            }
            a{
                text-decoration: none;
                color: abs.$azul-neon;
                font-size: 10px;
                i{
                    color: abs.$azul-neon;
                    font-size: 15px;
                }
            }
            .avatar-menu{
                border-radius: 50%;
                width: 40%;
                height: 40%;
                margin-bottom: 3px;
            }
        }
    }
    .menu-header-tablet{
        display: none;
        background-color: abs.$gris-oscuro;
        opacity: 0.9;
        width: 100%;
        position: fixed;
        top: 0;
        ul{
            width: 100%;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            li{
                flex: 1;
                text-align: center;
            }
            a{  
                display: flex;
                flex-direction: column;
                text-decoration: none;
                color: abs.$azul-neon;
                font-size: 13px;
                align-items: center;
                padding-top: 10px;
                padding-bottom: 10px;
                @include abs.breakpoint(desktop){
                    &:hover{
                        background-color: abs.$azul-neon;
                        color: abs.$blanco;
                        i{
                            color: abs.$blanco;
                        }
                    }
                }
                i{
                    color: abs.$azul-neon;
                    font-size: 17px;
                }
            }
            .avatar-menu{
                border-radius: 50%;
                width: 27%;
                height: 27%;
            }
            .numero-notificaciones{
                font-size: 8px;
                position: absolute;
                right: 16%;
                top: 13%;
                background-color: abs.$rojo-neon;
                width: 12px;
                height: 12px;
                border-radius: 50%;
            }
        }
        @include abs.breakpoint(tablet){
            display: block;
        }
    }
    .container-include-mensajes{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        div{
            font-size: 8px;
            position: fixed;
            top: 0;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            opacity: 0.8;
            @include abs.breakpoint(tablet){
                top: 60px;
                font-size: 15px;
            }
            @include abs.breakpoint(desktop){
                top: 70px;
            }
        }
    }
    .container-header{
        .page-title{
            font-size: 25px;
            text-align: center;
            animation: titulo-pagina 1.5s linear forwards;
            @include abs.breakpoint(tablet){
                font-size: 35px;
                margin-bottom: 40px;
            }
        }
    }
}




