@use '../abstracts/abstracts' as abs;
@use '../base/base' as base;
@use '../components/components' as comp;


main{
    .container-main{
        .title-home{
            font-size: 20px;
            text-align: center;
            margin-bottom: 35px;
            @include abs.breakpoint(tablet){
                font-size: 30px;
                margin-bottom: 45px;
            }
        }
        .container-home{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 50px;
            @include abs.breakpoint(tablet){
                gap: 80px
            }
            .publicacion{
                @include abs.publicacion;
            }
        }
        .title-busqueda{
            font-size: 20px;
            text-align: center;
            margin-bottom: 35px;
            @include abs.breakpoint(tablet){
                font-size: 30px;
                margin-bottom: 45px;
            }
        }
        .container-busqueda{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .resultado-busqueda{
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 40px;
                gap: 50px;
                @include abs.breakpoint(tablet){
                    gap: 80px;
                }
                .formulario-busqueda{
                    width: 100%;
                    label{
                        font-size: 10px;
                        text-shadow: 0px 0px 5px abs.$azul-neon;
                        @include abs.breakpoint(tablet){
                            font-size: 15px;
                        }
                    }
                    input{
                        background-color: abs.$negro-espacial;
                        color: abs.$blanco;
                        border-color: abs.$azul-neon;
                        font-size: 10px;
                        @include abs.breakpoint(tablet){
                            font-size: 15px;
                        }
                        &:focus{
                            box-shadow: 0px 0px 5px 2px abs.$gris-claro;
                        }
                    }
                    .boton-buscar{
                        color: abs.$negro-espacial;
                        border: 0;
                        padding: 5px 10px;
                        background-color: abs.$rosa-neon;
                        border-radius: 5px;
                        font-size: 10px;
                        transition: background-color 1s linear,
                        color 1s linear, border 1s linear;
                        @include abs.breakpoint(tablet){
                            color: abs.$blanco;
                            background-color: abs.$azul-neon;
                            padding: 10px 15px;
                            border-radius: 10px;
                            font-size: 13px;
                            border: 1px solid abs.$rosa-neon;
                            &:hover{
                                background-color: abs.$negro-espacial;
                                color: abs.$azul-neon;
                                border: 1px solid abs.$blanco;
                            }
                        }
                    }
                }
                .publicaciones-busqueda{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 50px;
                    @include abs.breakpoint(tablet){
                        gap: 80px;
                    }
                    h3{
                        font-size: 15px;
                        font-weight: bold;
                        @include abs.breakpoint(tablet){
                            font-size: 20px;
                        }
                    }
                    .publicacion{
                        @include abs.publicacion
                    }
                }
                .usuarios-busqueda{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 50px;
                    @include abs.breakpoint(tablet){
                        gap: 80px;
                    }
                    h3{
                        font-size: 15px;
                        font-weight: bold;
                        @include abs.breakpoint(tablet){
                            font-size: 20px;
                        }
                    }
                    .container-perfiles-includes{
                        @include abs.perfiles
                    }
                }
            }
            .sugerencias{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 60px;
                @include abs.breakpoint(tablet){
                    gap: 90px;
                }
                h3{
                    font-size: 15px;
                    text-align: center;
                    margin-bottom: 30px;
                    font-weight: bold;
                    @include abs.breakpoint(tablet){
                        font-size: 20px;
                        margin-bottom: 50px;
                    }
                }
                .perfiles-sugeridos{
                    width: 100%;
                    section{
                        display: flex;
                        flex-direction: column;
                        gap: 50px;
                        justify-content: center;
                        align-items: center;
                        @include abs.breakpoint(tablet){
                            gap: 80px;
                        }
                        .container-perfiles-includes{
                            @include abs.perfiles
                        }
                    }
                }
                .publicaciones-sugeridas{
                    width: 100%;
                    section{
                        display: flex;
                        flex-direction: column;
                        gap: 50px;
                        justify-content: center;
                        align-items: center;
                        @include abs.breakpoint(tablet){
                            gap: 80px;
                        }
                        .publicacion{
                            @include abs.publicacion
                        }
                    }
                }
            }
        }
        .container-login{
            width: 100%;
            .formulario-login{
                width: 100%;
                label{
                    font-size: 10px;
                    text-shadow: 0px 0px 5px abs.$azul-neon;
                    @include abs.breakpoint(tablet){
                        font-size: 15px;
                    }
                }
                input{
                    background-color: abs.$negro-espacial;
                    color: abs.$blanco;
                    border-color: abs.$azul-neon;
                    font-size: 10px;
                    @include abs.breakpoint(tablet){
                        font-size: 15px;
                    }
                    &:focus{
                        box-shadow: 0px 0px 5px 2px abs.$gris-claro;
                    }
                }
                .boton-login{
                    color: abs.$negro-espacial;
                    border: 0;
                    padding: 5px 10px;
                    background-color: abs.$rosa-neon;
                    border-radius: 5px;
                    font-size: 10px;
                    @include abs.breakpoint(tablet){
                        padding: 10px 15px;
                        font-size: 13px;
                        &:hover{
                            box-shadow: 0px 0px 3px 2px abs.$blanco;
                        }
                    }
                }
            }
        }
        .container-registro{
            width: 100%;
            .formulario-crear-cuenta{
                width: 100%;
                label{
                    font-size: 10px;
                    text-shadow: 0px 0px 5px abs.$azul-neon;
                    @include abs.breakpoint(tablet){
                        font-size: 15px;
                    }
                }
                input{
                    background-color: abs.$negro-espacial;
                    color: abs.$blanco;
                    border-color: abs.$azul-neon;
                    font-size: 10px;
                    @include abs.breakpoint(tablet){
                        font-size: 15px;
                    }
                    &:focus{
                        box-shadow: 0px 0px 5px 2px abs.$gris-claro;
                    }
                }
                .boton-registro{
                    color: abs.$blanco;
                    border: 0;
                    padding: 5px 10px;
                    background-color: abs.$azul-neon;
                    border-radius: 5px;
                    font-size: 10px;
                    @include abs.breakpoint(tablet){
                        padding: 10px 15px;
                        font-size: 13px;
                        &:hover{
                            box-shadow: 0px 0px 5px 2px abs.$rosa-neon;
                        }
                    }
                }
                .form-text{
                    font-size: 10px;
                    @include abs.breakpoint(tablet){
                        font-size: 15px;
                    }
                }
            }
        }
    }
}











































































































































































// .container-busqueda{
//     .perfiles-sugeridos{
//         .perfiles{
//             display: flex;
//             gap: 50px;
//         }
//     }
// }

// .container-busqueda{
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     .resultado-busqueda{
//         width: 30%;
//         .publicaciones-busqueda{
//             .publicacion{
//                 max-width: 50%;
//                 border-bottom: 1px solid abs.$azul-neon;
//                 .imagen-hora-titulo{
//                     display: flex;
//                     justify-content: center;
//                     align-items: center;
//                     margin-bottom: 10px;
//                     .imagen{
//                         width: 20%;
//                         .imagen_perfil{
//                             width: 80%;
//                             border-radius: 20px;
//                         }
//                     }
//                     .hora-titulo{
//                         width: 80%;
//                         .hora{
//                             a{
//                                 text-decoration: none;
//                                 font-size: 12px;
//                                 color: abs.$blanco;
//                             }
//                             span{
//                                 font-size: 12px;
//                             }
//                         }
//                         .titulo{
//                             color: abs.$gris-claro;
//                             font-size: 17px;
//                         }
//                     }
//                 }
//                 .imagen_publicacion{
//                     width: 100%;
//                     margin-bottom: 10px;
//                 }
//                 .contenido-publicacion{
//                     font-size: 15px;
//                     color: abs.$gris-claro;
//                     margin: 0;
//                     margin-bottom: 10px;
//                 }
//                 .numero-likes-comentarios{
//                     display: flex;
//                     gap: 20px;
//                     margin-bottom: 10px;
//                 }
//                 .boton-detalle{
//                     text-decoration: none;
//                     display: inline-block;
//                     font-size: 12px;
//                     color: abs.$blanco;
//                     background-color: abs.$azul-neon;
//                     padding: 10px 20px;
//                     border-radius: 10px;
//                     margin-bottom: 10px;
//                     transition: background-color 1s ease, scale 1s ease;
//                     &:hover{
//                         background-color: abs.$rosa-neon;
//                         scale: 0.9;
//                     }
//                 }
//             }
//         }
//     }
//     .sugerencias{
//         display: flex;
//         width: 60%;
//         justify-content: space-between;
//         .perfiles-sugeridos{
//             width: 50%;
//             h2{
//                 font-size: 15px;
//             }
//         }
//         .publicaciones-sugeridas{
//             width: 50%;
//             h2{
//                 font-size: 15px;
//             }
//             section{
//                 .publicacion{
//                     max-width: 50%;
//                     border-bottom: 1px solid abs.$azul-neon;
//                     .imagen-hora-titulo{
//                         display: flex;
//                         justify-content: center;
//                         align-items: center;
//                         margin-bottom: 10px;
//                         .imagen{
//                             width: 20%;
//                             .imagen_perfil{
//                                 width: 80%;
//                                 border-radius: 20px;
//                             }
//                         }
//                         .hora-titulo{
//                             width: 80%;
//                             .hora{
//                                 a{
//                                     text-decoration: none;
//                                     font-size: 12px;
//                                     color: abs.$blanco;
//                                 }
//                                 span{
//                                     font-size: 12px;
//                                 }
//                             }
//                             .titulo{
//                                 color: abs.$gris-claro;
//                                 font-size: 17px;
//                             }
//                         }
//                     }
//                     .imagen_publicacion{
//                         width: 100%;
//                         margin-bottom: 10px;
//                     }
//                     .contenido-publicacion{
//                         font-size: 15px;
//                         color: abs.$gris-claro;
//                         margin: 0;
//                         margin-bottom: 10px;
//                     }
//                     .numero-likes-comentarios{
//                         display: flex;
//                         gap: 20px;
//                         margin-bottom: 10px;
//                     }
//                     .boton-detalle{
//                         text-decoration: none;
//                         display: inline-block;
//                         font-size: 12px;
//                         color: abs.$blanco;
//                         background-color:abs.$azul-neon;
//                         padding: 10px 20px;
//                         border-radius: 10px;
//                         margin-bottom: 10px;
//                         transition: background-color 1s ease, scale 1s ease;
//                         &:hover{
//                             background-color: abs.$rosa-neon;
//                             scale: 0.9;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }







// .container-home{
//     .imagen-hora-titulo{
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         margin-bottom: 10px;
//         .imagen{
//             width: 20%;
//             .imagen_perfil{
//                 width: 20%;
//                 border-radius: 20px;
//             }
//         }
//         .hora-titulo{
//             width: 80%;
//             .hora{
//                 a{
//                     text-decoration: none;
//                     font-size: 12px;
//                     color: abs.$blanco;
//                 }
//                 span{
//                     font-size: 12px;
//                 }
//             }
//             .titulo{
//                 color: abs.$gris-claro;
//                 font-size: 17px;
//             }
//         }
//     }
//     .imagen_publicacion{
//         width: 100%;
//         margin-bottom: 10px;
//     }
//     .contenido-publicacion{
//         font-size: 15px;
//         color: abs.$gris-claro;
//         margin: 0;
//         margin-bottom: 10px;
//     }
//     .numero-likes-comentarios{
//         display: flex;
//         gap: 20px;
//         margin-bottom: 10px;
//     }
//     .boton-detalle{
//         text-decoration: none;
//         display: inline-block;
//         font-size: 12px;
//         color: abs.$blanco;
//         background-color: abs.$azul-neon;
//         padding: 10px 20px;
//         border-radius: 10px;
//         margin-bottom: 10px;
//         transition: background-color 1s ease, scale 1s ease;
//         &:hover{
//             background-color: abs.$rosa-neon;
//             scale: 0.9;
//         }
//     }
// }
// }