@use '../abstracts/abstracts' as abs;
@use '../base/base' as base;
@use '../components/components' as comp;

.TextoComentario{
    margin: 0;
}

.TextoRespuestaComentario{
    margin-left: 20px;
    margin-bottom: 0px;
}

.title-home, .title-contactos{
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;
}

.container-busqueda{
    .perfiles-sugeridos{
        .perfiles{
            display: flex;
            gap: 50px;
        }
    }
}


.container-home, .container-publicaciones-mis-contactos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    .publicacion{
        max-width: 50%;
        border-bottom: 1px solid silver;
        .imagen-hora-titulo{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            .imagen{
                width: 20%;
                .imagen_perfil{
                    width: 20%;
                    border-radius: 20px;
                }
            }
            .hora-titulo{
                width: 80%;
                .hora{
                    a{
                        text-decoration: none;
                        font-size: 12px;
                        color: black;
                    }
                    span{
                        font-size: 12px;
                    }
                }
                .titulo{
                    color: cyan;
                    font-size: 17px;
                }
            }
        }
        .imagen_publicacion{
            width: 100%;
            margin-bottom: 10px;
        }
        .contenido-publicacion{
            font-size: 15px;
            color: silver;
            margin: 0;
            margin-bottom: 10px;
        }
        .numero-likes-comentarios{
            display: flex;
            gap: 20px;
            margin-bottom: 10px;
        }
        .boton-detalle{
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            color: white;
            background-color: black;
            padding: 10px 20px;
            border-radius: 10px;
            margin-bottom: 10px;
            transition: background-color 1s ease, scale 1s ease;
            &:hover{
                background-color: blue;
                scale: 0.9;
            }
        }
    }
}

.container-busqueda{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .resultado-busqueda{
        width: 30%;
        .publicaciones-busqueda{
            .publicacion{
                max-width: 50%;
                border-bottom: 1px solid silver;
                .imagen-hora-titulo{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 10px;
                    .imagen{
                        width: 20%;
                        .imagen_perfil{
                            width: 80%;
                            border-radius: 20px;
                        }
                    }
                    .hora-titulo{
                        width: 80%;
                        .hora{
                            a{
                                text-decoration: none;
                                font-size: 12px;
                                color: black;
                            }
                            span{
                                font-size: 12px;
                            }
                        }
                        .titulo{
                            color: cyan;
                            font-size: 17px;
                        }
                    }
                }
                .imagen_publicacion{
                    width: 100%;
                    margin-bottom: 10px;
                }
                .contenido-publicacion{
                    font-size: 15px;
                    color: silver;
                    margin: 0;
                    margin-bottom: 10px;
                }
                .numero-likes-comentarios{
                    display: flex;
                    gap: 20px;
                    margin-bottom: 10px;
                }
                .boton-detalle{
                    text-decoration: none;
                    display: inline-block;
                    font-size: 12px;
                    color: white;
                    background-color: black;
                    padding: 10px 20px;
                    border-radius: 10px;
                    margin-bottom: 10px;
                    transition: background-color 1s ease, scale 1s ease;
                    &:hover{
                        background-color: blue;
                        scale: 0.9;
                    }
                }
            }
        }
    }
    .sugerencias{
        display: flex;
        width: 60%;
        justify-content: space-between;
        .perfiles-sugeridos{
            width: 50%;
            h2{
                font-size: 15px;
            }
        }
        .publicaciones-sugeridas{
            width: 50%;
            h2{
                font-size: 15px;
            }
            section{
                .publicacion{
                    max-width: 50%;
                    border-bottom: 1px solid silver;
                    .imagen-hora-titulo{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 10px;
                        .imagen{
                            width: 20%;
                            .imagen_perfil{
                                width: 80%;
                                border-radius: 20px;
                            }
                        }
                        .hora-titulo{
                            width: 80%;
                            .hora{
                                a{
                                    text-decoration: none;
                                    font-size: 12px;
                                    color: black;
                                }
                                span{
                                    font-size: 12px;
                                }
                            }
                            .titulo{
                                color: cyan;
                                font-size: 17px;
                            }
                        }
                    }
                    .imagen_publicacion{
                        width: 100%;
                        margin-bottom: 10px;
                    }
                    .contenido-publicacion{
                        font-size: 15px;
                        color: silver;
                        margin: 0;
                        margin-bottom: 10px;
                    }
                    .numero-likes-comentarios{
                        display: flex;
                        gap: 20px;
                        margin-bottom: 10px;
                    }
                    .boton-detalle{
                        text-decoration: none;
                        display: inline-block;
                        font-size: 12px;
                        color: white;
                        background-color: black;
                        padding: 10px 20px;
                        border-radius: 10px;
                        margin-bottom: 10px;
                        transition: background-color 1s ease, scale 1s ease;
                        &:hover{
                            background-color: blue;
                            scale: 0.9;
                        }
                    }
                }
            }
        }
    }
}

.container-conversaciones{
    .mensaje-1{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .imagen-perfil-usuario{
            width: 2%;
            height: 2%;
            border-radius: 100%;
            margin-right: 5px;
        }
        .eliminar-mensajes{
            border: 0;
            background-color: transparent;
        }
        p{
            margin: 0;
            margin-right: 10px;
        }
    }
    .mensaje-2{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .imagen-perfil-usuario{
            width: 2%;
            height: 2%;
            border-radius: 100%;
            margin-left: 5px;
        }
        .eliminar-mensajes{
            border: 0;
            background-color: transparent;
        }
        p{
            margin: 0;
            margin-left: 10px;
        }
    }
}
