@use '../abstracts/abstracts' as abs;
@use '../base/base' as base;
@use '../components/components' as comp;

main{
    .container-main{
        .container-conversaciones{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            @include abs.breakpoint(tablet){
                gap: 30px;
            }
            h3{
                font-size: 15px;
                font-weight: bold;
                @include abs.breakpoint(tablet){
                    font-size: 20px;
                }
                @include abs.breakpoint(desktopxl){
                    font-size: 25px;
                }
            }
            .conversacion{
                width: 100%;
                display: flex;
                align-items: center;
                gap: 10px;
                border: 1px solid abs.$rosa-neon;
                padding: 10px;
                border-radius: 10px;
                @include abs.breakpoint(tablet){
                    width: 100%;
                    gap: 20px;
                    padding: 20px;
                    box-shadow: 2px 0px 4px 4px abs.$blanco;
                }
                @include abs.breakpoint(desktopxl){
                    padding: 30px;
                    gap: 30px;
                }
                img{
                    width: 10%;
                    height: 10%;
                    border-radius: 50%;
                }
                i{
                    font-size: 20px;
                    @include abs.breakpoint(tablet){
                        font-size: 40px;
                    }
                    @include abs.breakpoint(desktopxl){
                        font-size: 60px;
                    }
                }
                .conversacion-enlace{
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    p{
                        font-size: 10px;
                        font-weight: 600;
                        @include abs.breakpoint(tablet){
                            font-size: 15px;
                        }
                        @include abs.breakpoint(desktopxl){
                            font-size: 18px;
                        }
                    }
                    .boton-ir-conversacion{
                        width: max-content;
                        text-decoration: none;
                        font-size: 12px;
                        font-size: bold;
                        color: abs.$azul-neon;
                        @include abs.breakpoint(tablet){
                        font-size: 17px;
                        }
                        @include abs.breakpoint(desktop){
                            &:hover{
                                text-shadow: 0px 0px 2px abs.$blanco;
                            }
                        }
                        @include abs.breakpoint(desktopxl){
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        .title-conversaciones-detalle{
            font-size: 20px;
            text-align: center;
            margin-bottom: 35px;
            @include abs.breakpoint(tablet){
                font-size: 30px;
                margin-bottom: 45px;
            }
            @include abs.breakpoint(desktopxl){
                font-size: 40px;
                margin-bottom: 70px;
            }
        }
        .container-conversaciones-detail{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            .mensaje-1{
                display: flex;
                flex-direction: column;
                width: 100%;
                .imagen-mensaje{
                    display: flex;
                    gap: 10px;
                    width: 100%;
                    align-items: center;
                    justify-content: flex-start;
                    a{
                        width: 10%;
                        height: 10%;
                        @include abs.breakpoint(tablet){
                            width: 7%;
                            height: 7%;
                        }
                        img{
                            width: 100%;
                            border-radius: 50%;
                            @include abs.breakpoint(desktop){
                                &:hover{
                                    box-shadow: 0px 0px 2px 2px abs.$blanco;
                                }
                            }
                        }
                        i{
                            font-size: 30px;
                            @include abs.breakpoint(tablet){
                                font-size: 40px;
                            }
                            @include abs.breakpoint(desktopxl){
                                font-size: 50px;
                            }
                        }
                    }
                    p{
                        font-size: 10px;
                        background-color: abs.$azul-neon;
                        padding: 10px;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                        @include abs.breakpoint(tablet){
                            font-size: 15px;
                            padding: 10px 20px;
                            border-top-left-radius: 8px;
                            border-top-right-radius: 8px;
                            border-bottom-right-radius: 8px;
                        }
                        @include abs.breakpoint(desktopxl){
                            font-size: 17px;
                        }
                    }
                }
                .fecha-borrar-mensaje{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 5px;
                    span{
                        font-size: 8px;
                        font-weight: bold;
                        @include abs.breakpoint(tablet){
                            font-size: 12px;
                        }
                        @include abs.breakpoint(desktopxl){
                            font-size: 14px;
                        }
                    }
                    .eliminar-mensajes{
                        border: 0;
                        background-color: transparent;
                        i{
                            font-size: 8px;
                            color: abs.$rojo-neon;
                            @include abs.breakpoint(tablet){
                                font-size: 14px;
                                &:hover{
                                    color: abs.$azul-neon;
                                }
                            }
                        }
                    }
                }
            }
            .mensaje-2{
                display: flex;
                flex-direction: column;
                width: 100%;
                .mensaje-imagen{
                    display: flex;
                    gap: 10px;
                    width: 100%;
                    align-items: center;
                    justify-content: flex-end;
                    a{
                        width: 10%;
                        height: 10%;
                        @include abs.breakpoint(tablet){
                            width: 7%;
                            height: 7%;
                        }
                        img{
                            width: 100%;
                            border-radius: 50%;
                            @include abs.breakpoint(desktop){
                                &:hover{
                                    box-shadow: 0px 0px 2px 2px abs.$blanco;
                                }
                            }
                        }
                        i{
                            font-size: 30px;
                            @include abs.breakpoint(tablet){
                                font-size: 40px;
                            }
                            @include abs.breakpoint(desktopxl){
                                font-size: 50px;
                            }
                        }
                    }
                    p{
                        font-size: 10px;
                        background-color: abs.$gris-oscuro;
                        padding: 10px;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        border-bottom-left-radius: 5px;
                        @include abs.breakpoint(tablet){
                            font-size: 15px;
                            padding: 10px 20px;
                            border-top-left-radius: 8px;
                            border-top-right-radius: 8px;
                            border-bottom-left-radius: 8px;
                        }
                        @include abs.breakpoint(desktopxl){
                            font-size: 17px;
                        }
                    }
                }
                .borrar-fecha-mensaje{
                    display: flex;
                    width: 100%;
                    justify-content: flex-end;
                    gap: 5px;
                    span{
                        font-size: 8px;
                        font-weight: bold;
                        @include abs.breakpoint(tablet){
                            font-size: 12px;
                        }
                        @include abs.breakpoint(desktopxl){
                            font-size: 14px;
                        }
                    }
                    .eliminar-mensajes{
                        border: 0;
                        background-color: transparent;
                        i{
                            font-size: 8px;
                            color: abs.$rojo-neon;
                            @include abs.breakpoint(tablet){
                                font-size: 14px;
                                &:hover{
                                    color: abs.$azul-neon;
                                }
                            }
                        }
                    }
                }
            }
            .form-contestar-mensaje{
                label{
                    font-size: 10px;
                    text-shadow: 0px 0px 5px abs.$azul-neon;
                    @include abs.breakpoint(tablet){
                        font-size: 15px;
                    }
                    @include abs.breakpoint(desktopxl){
                        font-size: 18px;
                    }
                }
                input{
                    background-color: abs.$negro-espacial;
                    color: abs.$blanco;
                    border-color: abs.$azul-neon;
                    font-size: 10px;
                    @include abs.breakpoint(tablet){
                        font-size: 15px;
                    }
                    @include abs.breakpoint(desktopxl){
                        font-size: 18px;
                    }
                    &:focus{
                        box-shadow: 0px 0px 5px 2px abs.$gris-claro;
                    }
                }
                .boton-contestar{
                    border: 0;
                    background-color: abs.$rosa-neon;
                    color: abs.$azul-neon;
                    font-size: 10px;
                    border-radius: 5px;
                    padding: 3px 6px;
                    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
                    @include abs.breakpoint(tablet){
                        font-size: 15px;
                        padding: 5px 8px;
                    }
                    @include abs.breakpoint(desktop){
                        &:hover{
                            background-color: abs.$blanco;
                            color: abs.$rosa-neon;
                        }
                    }
                    @include abs.breakpoint(desktopxl){
                        font-size: 17px;
                    }
                }
            }
            .title-borrado-conversaciones{
                font-size: 18px;
                font-weight: 600;
                @include abs.breakpoint(tablet){
                    font-size: 23px;
                    margin-bottom: 15px;
                }
                @include abs.breakpoint(desktopxl){
                    font-size: 27px;
                    margin-bottom: 25px;
                }
            }
            .eliminar-conversaciones{
                border: 0;
                background-color: abs.$rojo-neon;
                font-size: 10px;
                border-radius: 5px;
                padding: 3px 6px;
                width: max-content;
                transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
                @include abs.breakpoint(tablet){
                    font-size: 15px;
                    padding: 5px 10px;
                }
                @include abs.breakpoint(desktop){
                    &:hover{
                        color: abs.$rojo-neon;
                        background-color: abs.$blanco;
                        box-shadow: 0px 0px 5px 5px abs.$rojo-neon;
                    }
                }
                @include abs.breakpoint(desktopxl){
                    font-size: 18px;
                }
            }
        }
        .container-nuevo-mensaje{
            width: 100%;
            .formulario-nuevo-mensaje{
                label{
                    font-size: 10px;
                    text-shadow: 0px 0px 5px abs.$azul-neon;
                    @include abs.breakpoint(tablet){
                        font-size: 15px;
                    }
                    @include abs.breakpoint(desktopxl){
                        font-size: 20px;
                    }
                }
                input{
                    background-color: abs.$negro-espacial;
                    color: abs.$blanco;
                    border-color: abs.$azul-neon;
                    font-size: 10px;
                    @include abs.breakpoint(tablet){
                        font-size: 15px;
                    }
                    &:focus{
                        box-shadow: 0px 0px 5px 2px abs.$gris-claro;
                    }
                    @include abs.breakpoint(desktopxl){
                        font-size: 20px;
                    }
                }
                .boton-enviar{
                    border: 0;
                    background-color: abs.$rosa-neon;
                    color: abs.$azul-neon;
                    font-size: 10px;
                    border-radius: 5px;
                    padding: 3px 6px;
                    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
                    @include abs.breakpoint(tablet){
                        font-size: 15px;
                        padding: 5px 10px;
                    }
                    @include abs.breakpoint(desktop){
                        &:hover{
                            background-color: abs.$blanco;
                            color: abs.$rosa-neon;
                        }
                    }
                    @include abs.breakpoint(desktopxl){
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
