@use '../abstracts/abstracts' as abs;
@use '../base/base' as base;
@use '../components/components' as comp;

main{
    .container-main{
        .container-notificaciones{
            width: 100%;
            .notificaciones{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1px;
                li{
                    a{
                        border: 1px solid abs.$gris-oscuro;
                        display: block;
                        background-color: abs.$azul-neon;
                        padding: 10px 20px;
                        text-decoration: none;
                        font-size: 10px;
                        font-weight: 600;
                        @include abs.breakpoint(tablet){
                            font-size: 15px;
                            font-weight: bold;
                            padding: 15px 30px;
                        }
                        @include abs.breakpoint(desktop){
                            &:hover{
                                color: abs.$rosa-neon;
                            }
                        }
                    }
                }
                .leida{
                    background-color: abs.$gris-oscuro;
                }
            }
        }
    }
}