@use '../abstracts/abstracts' as abs;
@use '../base/base' as base;
@use '../components/components' as comp;


main{
    .container-main{
        .container-publicacion-nueva{
            width: 100%;
            .formulario-para-crear-publicacion{
                .form-control{
                    background-color: abs.$negro-espacial;
                    color: abs.$blanco;
                    border-color: abs.$azul-neon;
                    font-size: 10px;
                    @include abs.breakpoint(tablet){
                        font-size: 15px;
                    }
                }
                label{
                    font-size: 10px;
                    text-shadow: 0px 0px 5px abs.$azul-neon;
                    @include abs.breakpoint(tablet){
                        font-size: 15px;
                    }
                }
                input{
                    background-color: abs.$negro-espacial;
                    color: abs.$blanco;
                    border-color: abs.$azul-neon;
                    @include abs.breakpoint(tablet){
                        font-size: 15px;
                    }
                    &:focus{
                        box-shadow: 0px 0px 5px 2px abs.$gris-claro;
                    }
                }
                textarea{
                    background-color: abs.$negro-espacial;
                    color: abs.$blanco;
                    border-color: abs.$azul-neon;
                    @include abs.breakpoint(tablet){
                        font-size: 15px;
                    }
                    &:focus{
                        box-shadow: 0px 0px 5px 2px abs.$gris-claro;
                    }
                }
                .boton-crear{
                    border: 1px solid abs.$rojo-neon;
                    font-size: 10px;
                    background-color:abs.$blanco;
                    color: abs.$negro-espacial;
                    padding: 3px 6px;
                    border-radius: 5px;
                    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
                    @include abs.breakpoint(tablet){
                        font-size: 15px;
                        padding: 5px 10px;
                    }
                    @include abs.breakpoint(desktop){
                        &:hover{
                            background-color: abs.$negro-espacial;
                            color: abs.$blanco;
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
        .container-detalle-publicacion{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid abs.$rojo-neon;
            padding: 15px 10px;
            border-radius: 10px;
            @include abs.breakpoint(tablet){
                border: none;
                padding: 20px 30px;
                box-shadow: 0px 0px 5px 5px abs.$rojo-neon;
            }
            .publicacion-detalle-imagen-descripcion{
                display: flex;
                width: 100%;
                align-items: center;
                gap: 10px;
                margin-bottom: 15px;
                @include abs.breakpoint(tablet){
                    gap: 20px;
                    margin-bottom: 20px;
                }
                .imagen-publicacion-detalle{
                    width: 20%;
                    @include abs.breakpoint(tablet){
                        width: 15%;
                    }
                    a{
                        text-decoration: none;
                        img{
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            @include abs.breakpoint(desktop){
                                &:hover{
                                    box-shadow: 0px 0px 5px 5px abs.$blanco;
                                }
                            }
                        }
                    }
                }
                .descripcion-publicacion-detalle{
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    @include abs.breakpoint(tablet){
                        width: 85%;
                    }
                    .autor-fecha{
                        font-size: 12px;
                        @include abs.breakpoint(tablet){
                            font-size: 18px;
                        }
                    }
                    .titulo{
                        font-size: 15px;
                        color: abs.$azul-neon;
                        font-weight: bold;
                        @include abs.breakpoint(tablet){
                            font-size: 20px;
                        }
                    }
                }
            }
            .publicacion-detalle-imagen-large{
                width: 100%;
                margin-bottom: 15px;
                @include abs.breakpoint(tablet){
                    margin-bottom: 20px;
                }
                img{
                    width: 100%;
                    border-radius: 10px;
                    border: 1px solid abs.$gris-claro;
                }
            }
            .publicacion-detalle-contenido{
                width: 100%;
                margin-bottom: 15px;
                @include abs.breakpoint(tablet){
                    margin-bottom: 20px;
                }
                p{
                    font-size: 13px;
                    color: abs.$gris-claro;
                    @include abs.breakpoint(tablet){
                        font-size: 17px;
                    }
                }
            }
            .publicacion-detalle-likes-comentarios{
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-bottom: 15px;
                @include abs.breakpoint(tablet){
                    margin-bottom: 20px;
                }
                .likes{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    span{
                        color: abs.$rojo-neon;
                    }
                    a{
                        i{
                            color: abs.$azul-neon;
                        }
                    }
                }
                .comentarios{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    .ButtonNuevoComentario{
                        color: abs.$azul-neon;
                        i{
                            color: abs.$rosa-neon;
                        }
                    }
                }
            }
            .publicacion-detalle-comentarios-respuestas{
                width: 100%;
                h3{
                    font-size: 15px;
                    text-align: center;
                    margin-bottom: 10px;
                    @include abs.breakpoint(tablet){
                        font-size: 20px;
                        margin-bottom: 20px;
                    }
                }
                .container-comentarios-respuestas{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    border-bottom: 1px solid abs.$gris-claro;
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                    .container-comentarios{
                        width: 100%;
                        margin-bottom: 10px;
                        .imagen-autor-fecha-publi{
                            width: 100%;
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            @include abs.breakpoint(tablet){
                                margin-bottom: 5px;
                            }
                            a{
                                width: 10%;
                                text-decoration: none;
                                display: inline-block;
                                @include abs.breakpoint(tablet){
                                    width: 7%;
                                }
                                img{
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 50%;
                                    @include abs.breakpoint(desktop){
                                        &:hover{
                                            box-shadow: 0px 0px 3px 2px abs.$blanco;
                                        }
                                    }
                                }
                            }
                            .autor-fecha-publi{
                                display: flex;
                                flex-direction: column;
                                width: 90%;
                                @include abs.breakpoint(tablet){
                                    width: 93%;
                                }
                                .autor{
                                    font-size: 8px;
                                    @include abs.breakpoint(tablet){
                                        font-size: 11px;
                                    }
                                }
                                .fecha-publi{
                                    font-size: 8px;
                                    @include abs.breakpoint(tablet){
                                        font-size: 11px;
                                    }
                                }
                            }
                        }
                        .TextoComentario{
                            font-size: 10px;
                            @include abs.breakpoint(tablet){
                                font-size: 14px;
                            }
                        }
                        .EliminarComentario{
                            font-size: 8px;
                            background-color: abs.$rojo-neon;
                            padding: 3px 5px;
                            border-radius: 4px;
                            @include abs.breakpoint(tablet){
                                font-size: 10px;
                                padding: 5px 7px;
                            }
                        }
                        .BotonResponder{
                            font-size: 8px;
                            background-color: abs.$azul-neon;
                            padding: 3px 5px;
                            border-radius: 4px;
                            @include abs.breakpoint(tablet){
                                font-size: 10px;
                                padding: 5px 7px;
                            }
                        }
                        .VerRespuestas{
                            font-size: 8px;
                            background-color: abs.$rosa-neon;
                            padding: 3px 5px;
                            border-radius: 4px;
                            @include abs.breakpoint(tablet){
                                font-size: 10px;
                                padding: 5px 7px;
                            }
                        }
                    }
                    .container-respuestas{
                        width: 100%;
                        margin-left: 15%;
                        .imagen-autor-fecha-respuesta{
                            width: 100%;
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            a{
                                width: 10%;
                                text-decoration: none;
                                display: inline-block;
                                @include abs.breakpoint(tablet){
                                    width: 7%;
                                }
                                img{
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 50%;
                                    @include abs.breakpoint(desktop){
                                        &:hover{
                                            box-shadow: 0px 0px 3px 2px abs.$blanco;
                                        }
                                    }
                                }
                            }
                            .autor-fecha-respuesta{
                                display: flex;
                                flex-direction: column;
                                width: 90%;
                                @include abs.breakpoint(tablet){
                                    width: 93%;
                                }
                                .autor{
                                    font-size: 8px;
                                    @include abs.breakpoint(tablet){
                                        font-size: 11px;
                                    }
                                }
                                .fecha-respuesta{
                                    font-size: 8px;
                                    @include abs.breakpoint(tablet){
                                        font-size: 11px;
                                    }
                                }
                            }
                        }
                        .TextoRespuesta{
                            font-size: 10px;
                            @include abs.breakpoint(tablet){
                                font-size: 14px;
                            }
                        }
                        .eliminarRespuesta{
                            font-size: 8px;
                            background-color: abs.$rojo-neon;
                            padding: 3px 5px;
                            border-radius: 4px;
                            @include abs.breakpoint(tablet){
                                font-size: 10px;
                                padding: 5px 7px;
                            }
                        }
                    }
                }
            }
            .FormRespuesta{
                width: 100%;
                label{
                    font-size: 10px;
                    text-shadow: 0px 0px 5px abs.$azul-neon;
                    @include abs.breakpoint(tablet){
                        font-size: 15px;
                    }
                }
                input{
                    background-color: abs.$negro-espacial;
                    color: abs.$blanco;
                    border-color: abs.$azul-neon;
                    font-size: 10px;
                    @include abs.breakpoint(tablet){
                        font-size: 15px;
                    }
                    &:focus{
                        box-shadow: 0px 0px 5px 2px abs.$gris-claro;
                    }
                }
                textarea{
                    background-color: abs.$negro-espacial;
                    color: abs.$blanco;
                    border-color: abs.$azul-neon;
                    font-size: 10px;
                    @include abs.breakpoint(tablet){
                        font-size: 15px;
                    }
                    &:focus{
                        box-shadow: 0px 0px 5px 2px abs.$gris-claro;
                    }
                }
                .boton-responder{
                    border: 0;
                    color: abs.$rosa-neon;
                    background-color: abs.$gris-oscuro;
                    border: 1px solid abs.$azul-neon;
                    padding: 3px 6px;
                    border-radius: 4px;
                    font-size: 8px;
                    @include abs.breakpoint(tablet){
                        font-size: 11px;
                        padding: 6px 8px;
                    }
                    @include abs.breakpoint(desktop){
                        &:hover{
                            box-shadow: 0px 0px 2px 2px abs.$blanco inset;
                        }
                    }
                }
            }
            .title-no-hay-comentarios{
                font-size: 12px;
                font-weight: bold;
                margin-bottom: 10px;
                @include abs.breakpoint(tablet){
                    font-size: 18px;
                    margin-bottom: 20px;
                }
            }
            .FormComentario{
                width: 100%;
                margin-bottom: 15px;
                .formulario-comentar{
                    label{
                        font-size: 10px;
                        text-shadow: 0px 0px 5px abs.$azul-neon;
                        @include abs.breakpoint(tablet){
                            font-size: 15px;
                        }
                    }
                    input{
                        background-color: abs.$negro-espacial;
                        color: abs.$blanco;
                        border-color: abs.$azul-neon;
                        font-size: 10px;
                        @include abs.breakpoint(tablet){
                            font-size: 15px;
                        }
                        &:focus{
                            box-shadow: 0px 0px 5px 2px abs.$gris-claro;
                        }
                    }
                    textarea{
                        background-color: abs.$negro-espacial;
                        color: abs.$blanco;
                        border-color: abs.$azul-neon;
                        font-size: 10px;
                        @include abs.breakpoint(tablet){
                            font-size: 15px;
                        }
                        &:focus{
                            box-shadow: 0px 0px 5px 2px abs.$gris-claro;
                        }
                    }
                    .boton-comentar{
                        border: 0;
                        color: abs.$rosa-neon;
                        background-color: abs.$gris-oscuro;
                        border: 1px solid abs.$azul-neon;
                        padding: 3px 6px;
                        border-radius: 4px;
                        font-size: 8px;
                        @include abs.breakpoint(tablet){
                            font-size: 11px;
                            padding: 6px 8px;
                        }
                        @include abs.breakpoint(desktop){
                            &:hover{
                                box-shadow: 0px 0px 3px 3px abs.$blanco inset;
                            }
                        }
                    }
                }
            }
            .botones-editar-eliminar-publicacion-detalle{
                width: 100%;
                display: flex;
                gap: 10px;
                align-items: center;
                .boton-editar{
                    text-decoration: none;
                    display: inline-block;
                    font-size: 10px;
                    background-color: abs.$azul-neon;
                    color: abs.$blanco;
                    padding: 3px 6px;
                    border-radius: 5px;
                    @include abs.breakpoint(tablet){
                        font-size: 13px;
                        padding: 5px 7px;
                    }
                }
                .boton-eliminar{
                    text-decoration: none;
                    display: inline-block;
                    font-size: 10px;
                    background-color: abs.$rojo-neon;
                    padding: 3px 6px;
                    border-radius: 5px;
                    color: abs.$blanco;
                    @include abs.breakpoint(tablet){
                        font-size: 13px;
                        padding: 5px 7px;
                    }
                }
            }
        }
        .container-editar-publicacion{
            width: 100%;
            .formulario-editar-publicacion{
                width: 100%;
                .input-group-text{
                    background-color: abs.$negro-espacial;
                    color: abs.$blanco;
                    border-color: abs.$azul-neon;
                    font-size: 10px;
                    @include abs.breakpoint(tablet){
                        font-size: 15px;
                    }
                }
                .form-control{
                    background-color: abs.$negro-espacial;
                    color: abs.$blanco;
                    border-color: abs.$azul-neon;
                    font-size: 10px;
                    @include abs.breakpoint(tablet){
                        font-size: 15px;
                    }
                    .text-break{
                        a{
                            font-size: 10px;
                            text-decoration: none;
                            font-weight: 600;
                        }
                    }
                }
                label{
                    font-size: 10px;
                    text-shadow: 0px 0px 5px abs.$azul-neon;
                    @include abs.breakpoint(tablet){
                        font-size: 15px;
                    }
                }
                input{
                    background-color: abs.$negro-espacial;
                    color: abs.$blanco;
                    border-color: abs.$azul-neon;
                    font-size: 10px;
                    @include abs.breakpoint(tablet){
                        font-size: 15px;
                    }
                    &:focus{
                        box-shadow: 0px 0px 5px 2px abs.$gris-claro;
                    }
                }
                textarea{
                    background-color: abs.$negro-espacial;
                    color: abs.$blanco;
                    border-color: abs.$azul-neon;
                    font-size: 10px;
                    @include abs.breakpoint(tablet){
                        font-size: 15px;
                    }
                    &:focus{
                        box-shadow: 0px 0px 5px 2px abs.$gris-claro;
                    }
                }
                .boton-editar{
                    font-size: 10px;
                    background-color: abs.$azul-neon;
                    color: abs.$blanco;
                    padding: 3px 6px;
                    border: 0;
                    border-radius: 5px;
                    margin-right: 10px;
                    @include abs.breakpoint(tablet){
                        font-size: 12px;
                        padding: 5px 8px;
                    }
                }
                .boton-cancelar{
                    text-decoration: none;
                    display: inline-block;
                    font-size: 10px;
                    background-color: abs.$rosa-neon;
                    color: abs.$blanco;
                    padding: 3px 6px;
                    border-radius: 5px;
                    @include abs.breakpoint(tablet){
                        font-size: 12px;
                        padding: 5px 8px;
                    }
                }
            }
        }
        .container-eliminar-publicacion{
            width: 100%;
            .title-eliminar-publicacion{
                font-size: 15px;
                @include abs.breakpoint(tablet){
                    font-size: 20px;
                }
            }
            .formulario-eliminar-publicacion{
                width: 100%;
                .boton-eliminar{
                    border: 0;
                    font-size: 10px;
                    background-color: abs.$rojo-neon;
                    padding: 3px 6px;
                    border-radius: 5px;
                    color: abs.$blanco;
                    margin-top: 10px;
                    @include abs.breakpoint(tablet){
                        font-size: 13px;
                        padding: 8px 13px;
                    }
                }
                .boton-cancelar{
                    margin-top: 10px;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 10px;
                    background-color: abs.$blanco;
                    padding: 3px 6px;
                    border-radius: 5px;
                    color: abs.$rojo-neon;
                    @include abs.breakpoint(tablet){
                        font-size: 13px;
                        padding: 8px 13px;
                    }
                }
            }
        }
    }
}