@use '../abstracts/abstracts' as abs;
@use '../base/base' as base;
@use '../components/components' as comp;


main{
    .container-main{
        .title-contactos{
            font-size: 20px;
            text-align: center;
            margin-bottom: 35px;
        }
        .container-publicaciones-mis-contactos{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 50px;
            .publicacion{
                width: 100%;
                padding: 20px 20px;
                box-shadow: 0px 0px 10px 5px abs.$azul-neon;
                border-radius: 10px;
                .imagen-hora-titulo{
                    width: 100%;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    margin-bottom: 10px;
                    .imagen{
                        width: 20%;
                        a{
                            text-decoration: none;
                            .imagen_perfil{
                            width: 100%;
                            border-radius: 50%;
                            }
                        }
                    }
                    .hora-autor-titulo{
                        width: 80%;
                        .hora-autor{
                            a{
                                text-decoration: none;
                                font-size: 10px;
                                font-weight: bold;
                            }
                            span{
                                font-size: 10px;
                            }
                        }
                        .titulo{
                            h2{
                                font-size: 13px;
                                font-weight: 600;
                            }
                        }
                    }
                }
                .imagen_publicacion{
                    width: 100%;
                    margin-bottom: 10px;
                    border-radius: 10px;
                }
                .contenido-publicacion{
                    font-size: 10px;
                    width: 100%;
                    margin-bottom: 10px;
                }
                .numero-likes-comentarios{
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    margin-bottom: 10px;
                    .numero-likes{
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        span{
                            color: abs.$rosa-neon;
                        }
                        i{
                            color: abs.$azul-neon
                        }
                    }
                    .numero-comentarios{
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        span{
                            color: abs.$azul-neon;
                        }
                        i{
                            color: abs.$rosa-neon;
                        }
                    }
                }
                .boton-detalle{
                    text-decoration: none;
                    font-size: 13px;
                    display: inline-block;
                    text-shadow: 0px 0px 10px abs.$rosa-neon;
                }
            }
        }
        .container-mi-perfil{
            width: 100%;
            .mi-perfil-top{
                width: 100%;
                display: flex;
                align-items: center;
                border: 1px solid abs.$azul-neon;
                border-radius: 10px;
                padding: 20px 10px;
                gap: 10px;
                margin-bottom: 50px;
                img{
                    width: 30%;
                    height: 30%;
                    border-radius: 50%;
                }
                .descripcion-mi-perfil{
                    width: 70%;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    .editar-eliminar-mi-perfil{
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        p{
                            font-size: 10px;
                            font-weight: bold;
                        }
                        .boton-editar{
                            text-decoration: none;
                            font-size: 8px;
                            display: inline-block;
                            background-color: abs.$azul-neon;
                            color: abs.$blanco;
                            padding: 2px 5px;
                            border-radius: 2px;
                        }
                        .boton-eliminar{
                            text-decoration: none;
                            font-size: 8px;
                            display: inline-block;
                            background-color: abs.$blanco;
                            color: abs.$azul-neon;
                            padding: 2px 5px;
                            border-radius: 2px;
                        }
                    }
                    .seguidores-seguidos-mi-perfil{
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        p{
                            font-size: 10px;
                            font-weight: 600;
                        }
                    }
                    .biografia-mi-perfil{
                        p{
                            font-size: 12px;
                            font-weight: bold;
                            color: abs.$gris-claro;
                        }
                    }
                }
            }
            .container-mis-ultimas-publicaciones{
                width: 100%;
                h3{
                    font-size: 15px;
                    text-align: center;
                    margin-bottom: 30px;
                    font-weight: bold;
                }
                .mis-ultimas-publicaciones{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 50px;
                    .publicacion{
                        width: 100%;
                        padding: 20px 20px;
                        box-shadow: 0px 0px 10px 5px abs.$azul-neon;
                        border-radius: 10px;
                        .imagen-hora-titulo{
                            width: 100%;
                            display: flex;
                            gap: 10px;
                            align-items: center;
                            margin-bottom: 10px;
                            .imagen{
                                width: 20%;
                                a{
                                    text-decoration: none;
                                    .imagen_perfil{
                                    width: 100%;
                                    border-radius: 50%;
                                    }
                                }
                            }
                            .hora-autor-titulo{
                                width: 80%;
                                .hora-autor{
                                    a{
                                        text-decoration: none;
                                        font-size: 10px;
                                        font-weight: bold;
                                    }
                                    span{
                                        font-size: 10px;
                                    }
                                }
                                .titulo{
                                    h2{
                                        font-size: 13px;
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                        .imagen_publicacion{
                            width: 100%;
                            margin-bottom: 10px;
                            border-radius: 10px;
                        }
                        .contenido-publicacion{
                            font-size: 10px;
                            width: 100%;
                            margin-bottom: 10px;
                        }
                        .numero-likes-comentarios{
                            width: 100%;
                            display: flex;
                            justify-content: space-around;
                            margin-bottom: 10px;
                            .numero-likes{
                                display: flex;
                                align-items: center;
                                gap: 5px;
                                span{
                                    color: abs.$rosa-neon;
                                }
                                i{
                                    color: abs.$azul-neon
                                }
                            }
                            .numero-comentarios{
                                display: flex;
                                align-items: center;
                                gap: 5px;
                                span{
                                    color: abs.$azul-neon;
                                }
                                i{
                                    color: abs.$rosa-neon;
                                }
                            }
                        }
                        .boton-detalle{
                            text-decoration: none;
                            font-size: 13px;
                            display: inline-block;
                            text-shadow: 0px 0px 10px abs.$rosa-neon;
                        }
                    }
                }
            }
        }
        .container-editar-perfil{
            width: 100%;
            .formulario-editar-perfil{
                width: 100%;
                .input-group-text{
                    background-color: abs.$negro-espacial;
                    color: abs.$blanco;
                    border-color: abs.$azul-neon;
                    font-size: 10px;
                }
                .form-control{
                    background-color: abs.$negro-espacial;
                    color: abs.$blanco;
                    border-color: abs.$azul-neon;
                    font-size: 10px;
                    .text-break{
                        a{
                            font-size: 10px;
                            text-decoration: none;
                            font-weight: 600;
                        }
                    }
                }
                label{
                    font-size: 10px;
                    text-shadow: 0px 0px 5px abs.$azul-neon;
                }
                input{
                    background-color: abs.$negro-espacial;
                    color: abs.$blanco;
                    border-color: abs.$azul-neon;
                    &:focus{
                        box-shadow: 0px 0px 5px 2px abs.$gris-claro;
                    }
                }
                textarea{
                    background-color: abs.$negro-espacial;
                    color: abs.$blanco;
                    border-color: abs.$azul-neon;
                    &:focus{
                        box-shadow: 0px 0px 5px 2px abs.$gris-claro;
                    }
                }
                .boton-editar{
                    font-size: 10px;
                    background-color: abs.$azul-neon;
                    color: abs.$blanco;
                    padding: 3px 6px;
                    border: 0;
                    border-radius: 5px;
                    margin-right: 10px;
                }
                .boton-cancelar{
                    text-decoration: none;
                    display: inline-block;
                    font-size: 10px;
                    background-color: abs.$rosa-neon;
                    color: abs.$blanco;
                    padding: 3px 6px;
                    border-radius: 5px;
                }
            }
        }
        .container-eliminar-perfil{
            width: 100%;
            .title-eliminar-perfil{
                font-size: 15px;
            }
            .formulario-borrar-perfil{
                width: 100%;
                .boton-eliminar{
                    border: 0;
                    font-size: 10px;
                    background-color: abs.$rojo-neon;
                    padding: 3px 6px;
                    border-radius: 5px;
                    color: abs.$blanco;
                    margin-top: 10px;
                }
                .boton-cancelar{
                    margin-top: 10px;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 10px;
                    background-color: abs.$blanco;
                    padding: 3px 6px;
                    border-radius: 5px;
                    color: abs.$rojo-neon;
                }
            }
        }
        .container-perfiles-detail{
            width: 100%;
            .perfiles-detail{
                display: flex;
                width: 100%;
                display: flex;
                align-items: center;
                border: 1px solid abs.$azul-neon;
                border-radius: 10px;
                padding: 20px 10px;
                gap: 10px;
                margin-bottom: 50px;
                img{
                    width: 30%;
                    height: 30%;
                    border-radius: 50%;
                }
                .descripcion-perfiles-detail{
                    width: 70%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .seguidores-siguiendo-mensaje{
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        .seguidores{
                            font-size: 10px;
                            font-weight: bold;
                            span{
                            font-size: 10px;
                            font-weight: bold;
                            }
                        }
                        .siguiendo{
                            font-size: 10px;
                            font-weight: bold;
                            span{
                            font-size: 10px;
                            font-weight: bold;
                            }
                        }
                        .mensaje{
                            text-decoration: none;
                            font-size: 12px;
                            display: inline-block;
                            background-color: abs.$negro-espacial;
                            i{
                                color: abs.$azul-neon;
                            }
                        }
                    }
                    .nombre-te-sigue{
                        p{
                            font-size: 10px;
                        }
                        span{
                            font-size: 12px;
                            font-weight: bold;
                        }
                    }
                    .biografia-perfiles-detail{
                        p{
                            font-size: 12px;
                            font-weight: bold;
                            color: abs.$gris-claro;
                        }
                    }
                    .botones-seguir-dejar-de-seguir{
                        .boton-dejar-de-seguir{
                            background-color: abs.$gris-oscuro;
                            border: 0;
                            padding: 5px 10px;
                            border: 1px solid abs.$gris-claro;
                            font-size: 10px;
                            border-radius: 3px;
                        }
                        .boton-seguir{
                            background-color: abs.$azul-neon;
                            border: 0;
                            padding: 5px 10px;
                            border: 1px solid abs.$rosa-neon;
                            font-size: 10px;
                            border-radius: 3px;
                        }
                    }
                }
            }
            .container-ultimas-publicaciones-perfiles-detail{
                width: 100%;
                .title-ultimas-publicaciones-perfiles-detail{
                    font-size: 15px;
                    text-align: center;
                    margin-bottom: 35px;
                }
                .ultimas-publicaciones-perfiles-detail{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 50px;
                    .publicacion{
                        width: 100%;
                        padding: 20px 20px;
                        box-shadow: 0px 0px 10px 5px abs.$azul-neon;
                        border-radius: 10px;
                        .imagen-hora-titulo{
                            width: 100%;
                            display: flex;
                            gap: 10px;
                            align-items: center;
                            margin-bottom: 10px;
                            .imagen{
                                width: 20%;
                                a{
                                    text-decoration: none;
                                    .imagen_perfil{
                                    width: 100%;
                                    border-radius: 50%;
                                    }
                                }
                            }
                            .hora-autor-titulo{
                                width: 80%;
                                .hora-autor{
                                    a{
                                        text-decoration: none;
                                        font-size: 10px;
                                        font-weight: bold;
                                    }
                                    span{
                                        font-size: 10px;
                                    }
                                }
                                .titulo{
                                    h2{
                                        font-size: 13px;
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                        .imagen_publicacion{
                            width: 100%;
                            margin-bottom: 10px;
                            border-radius: 10px;
                        }
                        .contenido-publicacion{
                            font-size: 10px;
                            width: 100%;
                            margin-bottom: 10px;
                        }
                        .numero-likes-comentarios{
                            width: 100%;
                            display: flex;
                            justify-content: space-around;
                            margin-bottom: 10px;
                            .numero-likes{
                                display: flex;
                                align-items: center;
                                gap: 5px;
                                span{
                                    color: abs.$rosa-neon;
                                }
                                i{
                                    color: abs.$azul-neon
                                }
                            }
                            .numero-comentarios{
                                display: flex;
                                align-items: center;
                                gap: 5px;
                                span{
                                    color: abs.$azul-neon;
                                }
                                i{
                                    color: abs.$rosa-neon;
                                }
                            }
                        }
                        .boton-detalle{
                            text-decoration: none;
                            font-size: 13px;
                            display: inline-block;
                            text-shadow: 0px 0px 10px abs.$rosa-neon;
                        }
                    }
                }
            }
        }
    }
}

