@use '../abstracts/abstracts' as abs;
@use '../base/base' as base;
@use '../components/components' as comp;


main{
    .container-main{
        .title-contactos{
            font-size: 20px;
            text-align: center;
            margin-bottom: 35px;
            @include abs.breakpoint(tablet){
                font-size: 30px;
                margin-bottom: 45px;
            }
        }
        .container-publicaciones-mis-contactos{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 50px;
            @include abs.breakpoint(tablet){
                gap: 80px
            }
            .publicacion{
                @include abs.publicacion
            }
        }
        .container-mi-perfil{
            width: 100%;
            .mi-perfil-top{
                width: 100%;
                display: flex;
                align-items: center;
                border: 1px solid abs.$azul-neon;
                border-radius: 10px;
                padding: 20px 10px;
                gap: 10px;
                margin-bottom: 50px;
                @include abs.breakpoint(tablet){
                    gap: 15px;
                    padding: 20px 30px;
                }
                img{
                    width: 30%;
                    height: 30%;
                    border-radius: 50%;
                }
                .descripcion-mi-perfil{
                    width: 70%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .editar-eliminar-mi-perfil{
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        @include abs.breakpoint(tablet){
                            gap: 20px;
                        }
                        p{
                            font-size: 10px;
                            font-weight: bold;
                            @include abs.breakpoint(tablet){
                                font-size: 15px;
                            }
                        }
                        .boton-editar{
                            text-decoration: none;
                            font-size: 8px;
                            display: inline-block;
                            background-color: abs.$azul-neon;
                            color: abs.$blanco;
                            padding: 2px 5px;
                            border-radius: 2px;
                            @include abs.breakpoint(tablet){
                                font-size: 12px;
                                padding: 5px 10px;
                                border-radius: 5px;
                            }
                        }
                        .boton-eliminar{
                            text-decoration: none;
                            font-size: 8px;
                            display: inline-block;
                            background-color: abs.$blanco;
                            color: abs.$azul-neon;
                            padding: 2px 5px;
                            border-radius: 2px;
                            @include abs.breakpoint(tablet){
                                font-size: 12px;
                                padding: 5px 10px;
                                border-radius: 5px;
                            }
                        }
                    }
                    .crear-publicacion-cerrar-sesion-mi-perfil{
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        @include abs.breakpoint(tablet){
                            gap: 20px;
                        }
                        .boton-crear-publicacion{
                            text-decoration: none;
                            font-size: 8px;
                            display: inline-block;
                            background-color: abs.$negro-espacial;
                            color: abs.$azul-neon;
                            padding: 2px 5px;
                            border-radius: 2px;
                            border: 1px solid abs.$rojo-neon;
                            @include abs.breakpoint(tablet){
                                font-size: 13px;
                                padding: 5px 10px;
                                border-radius: 5px;
                            }
                        }
                        .boton-cerrar-sesion{
                            text-decoration: none;
                            font-size: 8px;
                            display: inline-block;
                            background-color: abs.$rojo-neon;
                            color: abs.$blanco;
                            padding: 2px 5px;
                            border-radius: 2px;
                            @include abs.breakpoint(tablet){
                                font-size: 13px;
                                padding: 5px 10px;
                                border-radius: 5px;
                            }
                        }
                    }
                    .seguidores-seguidos-mi-perfil{
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        @include abs.breakpoint(tablet){
                            gap: 20px;
                        }
                        p{
                            font-size: 10px;
                            font-weight: 600;
                            @include abs.breakpoint(tablet){
                                font-size: 13px;
                            }
                        }
                    }
                    .biografia-mi-perfil{
                        p{
                            font-size: 10px;
                            font-weight: bold;
                            color: abs.$gris-claro;
                            @include abs.breakpoint(tablet){
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
            .container-mis-ultimas-publicaciones{
                width: 100%;
                h3{
                    font-size: 15px;
                    text-align: center;
                    margin-bottom: 30px;
                    font-weight: bold;
                    @include abs.breakpoint(tablet){
                        font-size: 20px;
                        margin-bottom: 40px;
                    }
                }
                .mis-ultimas-publicaciones{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 50px;
                    @include abs.breakpoint(tablet){
                        gap: 80px;
                    }
                    .publicacion{
                        @include abs.publicacion
                    }
                }
            }
        }
        .container-editar-perfil{
            width: 100%;
            .formulario-editar-perfil{
                width: 100%;
                .input-group-text{
                    background-color: abs.$negro-espacial;
                    color: abs.$blanco;
                    border-color: abs.$azul-neon;
                    font-size: 10px;
                    @include abs.breakpoint(tablet){
                        font-size: 15px;
                    }
                }
                .form-control{
                    background-color: abs.$negro-espacial;
                    color: abs.$blanco;
                    border-color: abs.$azul-neon;
                    font-size: 10px;
                    @include abs.breakpoint(tablet){
                        font-size: 15px;
                    }
                    .text-break{
                        a{
                            font-size: 10px;
                            text-decoration: none;
                            font-weight: 600;
                        }
                    }
                }
                label{
                    font-size: 10px;
                    text-shadow: 0px 0px 5px abs.$azul-neon;
                    @include abs.breakpoint(tablet){
                        font-size: 15px;
                    }
                }
                input{
                    background-color: abs.$negro-espacial;
                    color: abs.$blanco;
                    border-color: abs.$azul-neon;
                    font-size: 10px;
                    @include abs.breakpoint(tablet){
                        font-size: 15px;
                    }
                    &:focus{
                        box-shadow: 0px 0px 5px 2px abs.$gris-claro;
                    }
                }
                textarea{
                    background-color: abs.$negro-espacial;
                    color: abs.$blanco;
                    border-color: abs.$azul-neon;
                    font-size: 10px;
                    @include abs.breakpoint(tablet){
                        font-size: 15px;
                    }
                    &:focus{
                        box-shadow: 0px 0px 5px 2px abs.$gris-claro;
                    }
                }
                .boton-editar{
                    font-size: 10px;
                    background-color: abs.$azul-neon;
                    color: abs.$blanco;
                    padding: 3px 6px;
                    border: 0;
                    border-radius: 5px;
                    margin-right: 10px;
                    @include abs.breakpoint(tablet){
                        font-size: 13px;
                        padding: 8px 13px;
                    }
                }
                .boton-cancelar{
                    text-decoration: none;
                    display: inline-block;
                    font-size: 10px;
                    background-color: abs.$rosa-neon;
                    color: abs.$blanco;
                    padding: 3px 6px;
                    border-radius: 5px;
                    @include abs.breakpoint(tablet){
                        font-size: 13px;
                        padding: 8px 13px;
                    }
                }
            }
        }
        .container-eliminar-perfil{
            width: 100%;
            .title-eliminar-perfil{
                font-size: 15px;
                @include abs.breakpoint(tablet){
                    font-size: 20px;
                }
            }
            .formulario-borrar-perfil{
                width: 100%;
                .boton-eliminar{
                    border: 0;
                    font-size: 10px;
                    background-color: abs.$rojo-neon;
                    padding: 3px 6px;
                    border-radius: 5px;
                    color: abs.$blanco;
                    margin-top: 10px;
                    @include abs.breakpoint(tablet){
                        font-size: 13px;
                        padding: 8px 13px;
                    }
                }
                .boton-cancelar{
                    margin-top: 10px;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 10px;
                    background-color: abs.$blanco;
                    padding: 3px 6px;
                    border-radius: 5px;
                    color: abs.$rojo-neon;
                    @include abs.breakpoint(tablet){
                        font-size: 13px;
                        padding: 8px 13px;
                        margin-left: 3%;
                    }
                }
            }
        }
        .container-perfiles-detail{
            width: 100%;
            .perfiles-detail{
                display: flex;
                width: 100%;
                display: flex;
                align-items: center;
                border: 1px solid abs.$azul-neon;
                border-radius: 10px;
                padding: 20px 10px;
                gap: 10px;
                margin-bottom: 50px;
                @include abs.breakpoint(tablet){
                    gap: 15px;
                    padding: 20px 30px;
                }
                img{
                    width: 30%;
                    height: 30%;
                    border-radius: 50%;
                }
                .descripcion-perfiles-detail{
                    width: 70%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .seguidores-siguiendo-mensaje{
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        @include abs.breakpoint(tablet){
                            gap: 15px;
                        }
                        .seguidores{
                            font-size: 10px;
                            font-weight: bold;
                            @include abs.breakpoint(tablet){
                                font-size: 15px;
                            }
                            span{
                            font-size: 10px;
                            font-weight: bold;
                            @include abs.breakpoint(tablet){
                                font-size: 15px;
                                }
                            }
                        }
                        .siguiendo{
                            font-size: 10px;
                            font-weight: bold;
                            @include abs.breakpoint(tablet){
                                font-size: 15px;
                            }
                            span{
                            font-size: 10px;
                            font-weight: bold;
                            @include abs.breakpoint(tablet){
                                font-size: 15px;
                                }
                            }
                        }
                        .mensaje{
                            text-decoration: none;
                            font-size: 12px;
                            display: inline-block;
                            background-color: abs.$negro-espacial;
                            @include abs.breakpoint(tablet){
                                font-size: 18px;
                                &:hover{
                                    i{
                                        text-shadow: 0px 0px 10px abs.$blanco;
                                    }
                                }
                            }
                            i{
                                color: abs.$azul-neon;
                            }
                        }
                    }
                    .nombre-te-sigue{
                        p{
                            font-size: 10px;
                            @include abs.breakpoint(tablet){
                                font-size: 15px;
                            }
                        }
                        span{
                            font-size: 10px;
                            font-weight: bold;
                            @include abs.breakpoint(tablet){
                                font-size: 15px;
                            }
                        }
                    }
                    .biografia-perfiles-detail{
                        p{
                            font-size: 10px;
                            font-weight: bold;
                            color: abs.$gris-claro;
                            @include abs.breakpoint(tablet){
                                font-size: 13px;
                            }
                        }
                    }
                    .botones-seguir-dejar-de-seguir{
                        .boton-dejar-de-seguir{
                            background-color: abs.$gris-oscuro;
                            border: 0;
                            padding: 5px 10px;
                            border: 1px solid abs.$gris-claro;
                            font-size: 10px;
                            border-radius: 3px;
                            @include abs.breakpoint(tablet){
                                font-size: 15px;
                                padding: 10px 15px;
                                border-radius: 6px;
                            }
                        }
                        .boton-seguir{
                            background-color: abs.$azul-neon;
                            border: 0;
                            padding: 5px 10px;
                            border: 1px solid abs.$rosa-neon;
                            font-size: 10px;
                            border-radius: 3px;
                            @include abs.breakpoint(tablet){
                                font-size: 15px;
                                padding: 10px 15px;
                                border-radius: 6px;
                            }
                        }
                    }
                }
            }
            .container-ultimas-publicaciones-perfiles-detail{
                width: 100%;
                .title-ultimas-publicaciones-perfiles-detail{
                    font-size: 15px;
                    text-align: center;
                    margin-bottom: 35px;
                    @include abs.breakpoint(tablet){
                        font-size: 20px;
                        margin-bottom: 40px;
                    }
                }
                .ultimas-publicaciones-perfiles-detail{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 50px;
                    @include abs.breakpoint(tablet){
                        gap: 80px;
                    }
                    .publicacion{
                        @include abs.publicacion
                    }
                }
            }
        }
    }
}

