@use '../abstracts/abstracts' as abs;
@use '../base/base' as base;
@use '../components/components' as comp;



.title-contactos{
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;
}

