* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.ButtonNuevoComentario {
  border: 0;
  background-color: transparent;
}

.VerRespuestas {
  border: 0;
  background-color: transparent;
}

.BotonResponder {
  border: 0;
  background-color: transparent;
}

.EliminarComentario {
  border: 0;
  background-color: transparent;
}

.eliminarRespuesta {
  margin-left: 40px;
  border: 0;
  background-color: transparent;
}

.container-header {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.container-main {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.container-footer {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.container-respuestas {
  display: none;
}

.FormRespuesta {
  display: none;
}

.FormComentario {
  display: none;
}

.menu-header ul {
  display: flex;
  gap: 20px;
}
.menu-header ul a {
  text-decoration: none;
}

.TextoComentario {
  margin: 0;
}

.TextoRespuestaComentario {
  margin-left: 20px;
  margin-bottom: 0px;
}

.title-home, .title-contactos {
  font-size: 25px;
  text-align: center;
  margin-bottom: 50px;
}

.container-busqueda .perfiles-sugeridos .perfiles {
  display: flex;
  gap: 50px;
}

.container-home, .container-publicaciones-mis-contactos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.container-home .publicacion, .container-publicaciones-mis-contactos .publicacion {
  max-width: 50%;
  border-bottom: 1px solid silver;
}
.container-home .publicacion .imagen-hora-titulo, .container-publicaciones-mis-contactos .publicacion .imagen-hora-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.container-home .publicacion .imagen-hora-titulo .imagen, .container-publicaciones-mis-contactos .publicacion .imagen-hora-titulo .imagen {
  width: 20%;
}
.container-home .publicacion .imagen-hora-titulo .imagen .imagen_perfil, .container-publicaciones-mis-contactos .publicacion .imagen-hora-titulo .imagen .imagen_perfil {
  width: 80%;
  border-radius: 20px;
}
.container-home .publicacion .imagen-hora-titulo .hora-titulo, .container-publicaciones-mis-contactos .publicacion .imagen-hora-titulo .hora-titulo {
  width: 80%;
}
.container-home .publicacion .imagen-hora-titulo .hora-titulo .hora a, .container-publicaciones-mis-contactos .publicacion .imagen-hora-titulo .hora-titulo .hora a {
  text-decoration: none;
  font-size: 12px;
  color: black;
}
.container-home .publicacion .imagen-hora-titulo .hora-titulo .hora span, .container-publicaciones-mis-contactos .publicacion .imagen-hora-titulo .hora-titulo .hora span {
  font-size: 12px;
}
.container-home .publicacion .imagen-hora-titulo .hora-titulo .titulo, .container-publicaciones-mis-contactos .publicacion .imagen-hora-titulo .hora-titulo .titulo {
  color: cyan;
  font-size: 17px;
}
.container-home .publicacion .imagen_publicacion, .container-publicaciones-mis-contactos .publicacion .imagen_publicacion {
  width: 100%;
  margin-bottom: 10px;
}
.container-home .publicacion .contenido-publicacion, .container-publicaciones-mis-contactos .publicacion .contenido-publicacion {
  font-size: 15px;
  color: silver;
  margin: 0;
  margin-bottom: 10px;
}
.container-home .publicacion .numero-likes-comentarios, .container-publicaciones-mis-contactos .publicacion .numero-likes-comentarios {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}
.container-home .publicacion .boton-detalle, .container-publicaciones-mis-contactos .publicacion .boton-detalle {
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  color: white;
  background-color: black;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: background-color 1s ease, scale 1s ease;
}
.container-home .publicacion .boton-detalle:hover, .container-publicaciones-mis-contactos .publicacion .boton-detalle:hover {
  background-color: blue;
  scale: 0.9;
}

.main-notificaciones {
  width: 100%;
  display: flex;
  justify-content: center;
}

.notificaciones {
  display: flex;
  flex-direction: column;
}
.notificaciones a {
  text-decoration: none;
  background-color: blue;
  border-bottom: 1px solid white;
  padding: 20px 30px;
  display: block;
  color: grey;
}

body {
  overflow-x: hidden;
}

.block {
  display: block;
}

/*# sourceMappingURL=styles.css.map */
