* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

@font-face {
  font-family: "Orbitron";
  src: url("../fonts/Orbitron-Bold.eot");
  src: url("../fonts/Orbitron-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Orbitron-Bold.woff2") format("woff2"), url("../fonts/Orbitron-Bold.woff") format("woff"), url("../fonts/Orbitron-Bold.ttf") format("truetype"), url("../fonts/Orbitron-Bold.svg#Orbitron-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Orbitron";
  src: url("../fonts/Orbitron-Regular.eot");
  src: url("../fonts/Orbitron-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Orbitron-Regular.woff2") format("woff2"), url("../fonts/Orbitron-Regular.woff") format("woff"), url("../fonts/Orbitron-Regular.ttf") format("truetype"), url("../fonts/Orbitron-Regular.svg#Orbitron-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Orbitron";
  src: url("../fonts/Orbitron-SemiBold.eot");
  src: url("../fonts/Orbitron-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Orbitron-SemiBold.woff2") format("woff2"), url("../fonts/Orbitron-SemiBold.woff") format("woff"), url("../fonts/Orbitron-SemiBold.ttf") format("truetype"), url("../fonts/Orbitron-SemiBold.svg#Orbitron-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.ButtonNuevoComentario {
  border: 0;
  background-color: transparent;
}

.VerRespuestas {
  border: 0;
  background-color: transparent;
}

.BotonResponder {
  border: 0;
  background-color: transparent;
}

.EliminarComentario {
  border: 0;
  background-color: transparent;
}

.eliminarRespuesta {
  margin-left: 40px;
  border: 0;
  background-color: transparent;
}

.container-header {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.container-main {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.container-footer {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.container-respuestas {
  display: none;
}

.FormRespuesta {
  display: none;
}

.FormComentario {
  display: none;
}

.menu-header {
  background-color: #1E1E1E;
  opacity: 0.5;
  width: 100%;
  position: fixed;
  bottom: 0;
}
.menu-header ul {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-header ul li {
  flex: 1;
  text-align: center;
}
.menu-header ul a {
  text-decoration: none;
  color: #00BFFF;
}
.menu-header ul a i {
  color: #00BFFF;
}

header {
  padding-top: 30px;
  margin-bottom: 35px;
}
header .container-header .page-title {
  font-size: 25px;
  text-align: center;
}

main .container-main .title-home {
  font-size: 20px;
  text-align: center;
  margin-bottom: 35px;
}
main .container-main .container-home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
main .container-main .container-home .publicacion {
  width: 100%;
  padding: 20px 20px;
  box-shadow: 0px 0px 10px 5px #00BFFF;
  border-radius: 10px;
}
main .container-main .container-home .publicacion .imagen-hora-titulo {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}
main .container-main .container-home .publicacion .imagen-hora-titulo .imagen {
  width: 20%;
}
main .container-main .container-home .publicacion .imagen-hora-titulo .imagen a {
  text-decoration: none;
}
main .container-main .container-home .publicacion .imagen-hora-titulo .imagen a .imagen_perfil {
  width: 100%;
  border-radius: 50%;
}
main .container-main .container-home .publicacion .imagen-hora-titulo .hora-autor-titulo {
  width: 80%;
}
main .container-main .container-home .publicacion .imagen-hora-titulo .hora-autor-titulo .hora-autor a {
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
}
main .container-main .container-home .publicacion .imagen-hora-titulo .hora-autor-titulo .hora-autor span {
  font-size: 10px;
}
main .container-main .container-home .publicacion .imagen-hora-titulo .hora-autor-titulo .titulo h2 {
  font-size: 13px;
  font-weight: 600;
}
main .container-main .container-home .publicacion .imagen_publicacion {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}
main .container-main .container-home .publicacion .contenido-publicacion {
  font-size: 10px;
  width: 100%;
  margin-bottom: 10px;
}
main .container-main .container-home .publicacion .numero-likes-comentarios {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
main .container-main .container-home .publicacion .numero-likes-comentarios .numero-likes {
  display: flex;
  align-items: center;
  gap: 5px;
}
main .container-main .container-home .publicacion .numero-likes-comentarios .numero-likes span {
  color: #FF007F;
}
main .container-main .container-home .publicacion .numero-likes-comentarios .numero-likes i {
  color: #00BFFF;
}
main .container-main .container-home .publicacion .numero-likes-comentarios .numero-comentarios {
  display: flex;
  align-items: center;
  gap: 5px;
}
main .container-main .container-home .publicacion .numero-likes-comentarios .numero-comentarios span {
  color: #00BFFF;
}
main .container-main .container-home .publicacion .numero-likes-comentarios .numero-comentarios i {
  color: #FF007F;
}
main .container-main .container-home .publicacion .boton-detalle {
  text-decoration: none;
  font-size: 13px;
  display: inline-block;
  text-shadow: 0px 0px 10px #FF007F;
}
main .container-main .title-busqueda {
  font-size: 20px;
  text-align: center;
  margin-bottom: 35px;
}
main .container-main .container-busqueda {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .container-main .container-busqueda .resultado-busqueda {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  gap: 50px;
}
main .container-main .container-busqueda .resultado-busqueda .formulario-busqueda {
  width: 100%;
}
main .container-main .container-busqueda .resultado-busqueda .formulario-busqueda label {
  font-size: 10px;
  text-shadow: 0px 0px 5px #00BFFF;
}
main .container-main .container-busqueda .resultado-busqueda .formulario-busqueda input {
  background-color: #0D0D0D;
  color: #FFFFFF;
  border-color: #00BFFF;
}
main .container-main .container-busqueda .resultado-busqueda .formulario-busqueda input:focus {
  box-shadow: 0px 0px 5px 2px #CCCCCC;
}
main .container-main .container-busqueda .resultado-busqueda .formulario-busqueda .boton-buscar {
  color: #0D0D0D;
  border: 0;
  padding: 5px 10px;
  background-color: #FF007F;
  border-radius: 5px;
  font-size: 10px;
}
main .container-main .container-busqueda .resultado-busqueda .publicaciones-busqueda {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
main .container-main .container-busqueda .resultado-busqueda .publicaciones-busqueda h3 {
  font-size: 15px;
  font-weight: bold;
}
main .container-main .container-busqueda .resultado-busqueda .publicaciones-busqueda .publicacion {
  width: 100%;
  padding: 20px 20px;
  box-shadow: 0px 0px 10px 5px #00BFFF;
  border-radius: 10px;
}
main .container-main .container-busqueda .resultado-busqueda .publicaciones-busqueda .publicacion .imagen-hora-titulo {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}
main .container-main .container-busqueda .resultado-busqueda .publicaciones-busqueda .publicacion .imagen-hora-titulo .imagen {
  width: 20%;
}
main .container-main .container-busqueda .resultado-busqueda .publicaciones-busqueda .publicacion .imagen-hora-titulo .imagen a {
  text-decoration: none;
}
main .container-main .container-busqueda .resultado-busqueda .publicaciones-busqueda .publicacion .imagen-hora-titulo .imagen a .imagen_perfil {
  width: 100%;
  border-radius: 50%;
}
main .container-main .container-busqueda .resultado-busqueda .publicaciones-busqueda .publicacion .imagen-hora-titulo .hora-autor-titulo {
  width: 80%;
}
main .container-main .container-busqueda .resultado-busqueda .publicaciones-busqueda .publicacion .imagen-hora-titulo .hora-autor-titulo .hora-autor a {
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
}
main .container-main .container-busqueda .resultado-busqueda .publicaciones-busqueda .publicacion .imagen-hora-titulo .hora-autor-titulo .hora-autor span {
  font-size: 10px;
}
main .container-main .container-busqueda .resultado-busqueda .publicaciones-busqueda .publicacion .imagen-hora-titulo .hora-autor-titulo .titulo h2 {
  font-size: 13px;
  font-weight: 600;
}
main .container-main .container-busqueda .resultado-busqueda .publicaciones-busqueda .publicacion .imagen_publicacion {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}
main .container-main .container-busqueda .resultado-busqueda .publicaciones-busqueda .publicacion .contenido-publicacion {
  font-size: 10px;
  width: 100%;
  margin-bottom: 10px;
}
main .container-main .container-busqueda .resultado-busqueda .publicaciones-busqueda .publicacion .numero-likes-comentarios {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
main .container-main .container-busqueda .resultado-busqueda .publicaciones-busqueda .publicacion .numero-likes-comentarios .numero-likes {
  display: flex;
  align-items: center;
  gap: 5px;
}
main .container-main .container-busqueda .resultado-busqueda .publicaciones-busqueda .publicacion .numero-likes-comentarios .numero-likes span {
  color: #FF007F;
}
main .container-main .container-busqueda .resultado-busqueda .publicaciones-busqueda .publicacion .numero-likes-comentarios .numero-likes i {
  color: #00BFFF;
}
main .container-main .container-busqueda .resultado-busqueda .publicaciones-busqueda .publicacion .numero-likes-comentarios .numero-comentarios {
  display: flex;
  align-items: center;
  gap: 5px;
}
main .container-main .container-busqueda .resultado-busqueda .publicaciones-busqueda .publicacion .numero-likes-comentarios .numero-comentarios span {
  color: #00BFFF;
}
main .container-main .container-busqueda .resultado-busqueda .publicaciones-busqueda .publicacion .numero-likes-comentarios .numero-comentarios i {
  color: #FF007F;
}
main .container-main .container-busqueda .resultado-busqueda .publicaciones-busqueda .publicacion .boton-detalle {
  text-decoration: none;
  font-size: 13px;
  display: inline-block;
  text-shadow: 0px 0px 10px #FF007F;
}
main .container-main .container-busqueda .resultado-busqueda .usuarios-busqueda {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
main .container-main .container-busqueda .resultado-busqueda .usuarios-busqueda h3 {
  font-size: 15px;
  font-weight: bold;
}
main .container-main .container-busqueda .resultado-busqueda .usuarios-busqueda .container-perfiles-includes {
  padding: 10px 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 0px 0px 5px 5px #FF007F;
  border-radius: 10px;
}
main .container-main .container-busqueda .resultado-busqueda .usuarios-busqueda .container-perfiles-includes .perfiles-includes-imagen-usuario {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}
main .container-main .container-busqueda .resultado-busqueda .usuarios-busqueda .container-perfiles-includes .perfiles-includes-imagen-usuario a {
  width: 20%;
  text-decoration: none;
}
main .container-main .container-busqueda .resultado-busqueda .usuarios-busqueda .container-perfiles-includes .perfiles-includes-imagen-usuario a img {
  width: 100%;
  border-radius: 50%;
}
main .container-main .container-busqueda .resultado-busqueda .usuarios-busqueda .container-perfiles-includes .perfiles-includes-imagen-usuario .usuario-seguidores {
  width: 80%;
}
main .container-main .container-busqueda .resultado-busqueda .usuarios-busqueda .container-perfiles-includes .perfiles-includes-imagen-usuario .usuario-seguidores h2 {
  font-size: 15px;
  font-weight: bold;
}
main .container-main .container-busqueda .resultado-busqueda .usuarios-busqueda .container-perfiles-includes .perfiles-includes-imagen-usuario .usuario-seguidores span {
  font-size: 10px;
}
main .container-main .container-busqueda .resultado-busqueda .usuarios-busqueda .container-perfiles-includes p {
  font-size: 13px;
  font-weight: 600;
}
main .container-main .container-busqueda .resultado-busqueda .usuarios-busqueda .container-perfiles-includes .ButtonFollows {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
main .container-main .container-busqueda .resultado-busqueda .usuarios-busqueda .container-perfiles-includes .ButtonFollows .boton-dejar-de-seguir {
  background-color: #1E1E1E;
  border: 0;
  padding: 5px 10px;
  border: 1px solid #CCCCCC;
  font-size: 10px;
  border-radius: 3px;
}
main .container-main .container-busqueda .resultado-busqueda .usuarios-busqueda .container-perfiles-includes .ButtonFollows .boton-seguir {
  background-color: #00BFFF;
  border: 0;
  padding: 5px 10px;
  border: 1px solid #FF007F;
  font-size: 10px;
  border-radius: 3px;
}
main .container-main .container-busqueda .sugerencias {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
main .container-main .container-busqueda .sugerencias h3 {
  font-size: 15px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}
main .container-main .container-busqueda .sugerencias .perfiles-sugeridos {
  width: 100%;
}
main .container-main .container-busqueda .sugerencias .perfiles-sugeridos section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
main .container-main .container-busqueda .sugerencias .perfiles-sugeridos section .container-perfiles-includes {
  padding: 10px 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 0px 0px 5px 5px #FF007F;
  border-radius: 10px;
}
main .container-main .container-busqueda .sugerencias .perfiles-sugeridos section .container-perfiles-includes .perfiles-includes-imagen-usuario {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}
main .container-main .container-busqueda .sugerencias .perfiles-sugeridos section .container-perfiles-includes .perfiles-includes-imagen-usuario a {
  width: 20%;
  text-decoration: none;
}
main .container-main .container-busqueda .sugerencias .perfiles-sugeridos section .container-perfiles-includes .perfiles-includes-imagen-usuario a img {
  width: 100%;
  border-radius: 50%;
}
main .container-main .container-busqueda .sugerencias .perfiles-sugeridos section .container-perfiles-includes .perfiles-includes-imagen-usuario .usuario-seguidores {
  width: 80%;
}
main .container-main .container-busqueda .sugerencias .perfiles-sugeridos section .container-perfiles-includes .perfiles-includes-imagen-usuario .usuario-seguidores h2 {
  font-size: 15px;
  font-weight: bold;
}
main .container-main .container-busqueda .sugerencias .perfiles-sugeridos section .container-perfiles-includes .perfiles-includes-imagen-usuario .usuario-seguidores span {
  font-size: 10px;
}
main .container-main .container-busqueda .sugerencias .perfiles-sugeridos section .container-perfiles-includes p {
  font-size: 13px;
  font-weight: 600;
}
main .container-main .container-busqueda .sugerencias .perfiles-sugeridos section .container-perfiles-includes .ButtonFollows {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
main .container-main .container-busqueda .sugerencias .perfiles-sugeridos section .container-perfiles-includes .ButtonFollows .boton-dejar-de-seguir {
  background-color: #1E1E1E;
  border: 0;
  padding: 5px 10px;
  border: 1px solid #CCCCCC;
  font-size: 10px;
  border-radius: 3px;
}
main .container-main .container-busqueda .sugerencias .perfiles-sugeridos section .container-perfiles-includes .ButtonFollows .boton-seguir {
  background-color: #00BFFF;
  border: 0;
  padding: 5px 10px;
  border: 1px solid #FF007F;
  font-size: 10px;
  border-radius: 3px;
}
main .container-main .container-busqueda .sugerencias .publicaciones-sugeridas {
  width: 100%;
}
main .container-main .container-busqueda .sugerencias .publicaciones-sugeridas section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
main .container-main .container-busqueda .sugerencias .publicaciones-sugeridas section .publicacion {
  width: 100%;
  padding: 20px 20px;
  box-shadow: 0px 0px 10px 5px #00BFFF;
  border-radius: 10px;
}
main .container-main .container-busqueda .sugerencias .publicaciones-sugeridas section .publicacion .imagen-hora-titulo {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}
main .container-main .container-busqueda .sugerencias .publicaciones-sugeridas section .publicacion .imagen-hora-titulo .imagen {
  width: 20%;
}
main .container-main .container-busqueda .sugerencias .publicaciones-sugeridas section .publicacion .imagen-hora-titulo .imagen a {
  text-decoration: none;
}
main .container-main .container-busqueda .sugerencias .publicaciones-sugeridas section .publicacion .imagen-hora-titulo .imagen a .imagen_perfil {
  width: 100%;
  border-radius: 50%;
}
main .container-main .container-busqueda .sugerencias .publicaciones-sugeridas section .publicacion .imagen-hora-titulo .hora-autor-titulo {
  width: 80%;
}
main .container-main .container-busqueda .sugerencias .publicaciones-sugeridas section .publicacion .imagen-hora-titulo .hora-autor-titulo .hora-autor a {
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
}
main .container-main .container-busqueda .sugerencias .publicaciones-sugeridas section .publicacion .imagen-hora-titulo .hora-autor-titulo .hora-autor span {
  font-size: 10px;
}
main .container-main .container-busqueda .sugerencias .publicaciones-sugeridas section .publicacion .imagen-hora-titulo .hora-autor-titulo .titulo h2 {
  font-size: 13px;
  font-weight: 600;
}
main .container-main .container-busqueda .sugerencias .publicaciones-sugeridas section .publicacion .imagen_publicacion {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}
main .container-main .container-busqueda .sugerencias .publicaciones-sugeridas section .publicacion .contenido-publicacion {
  font-size: 10px;
  width: 100%;
  margin-bottom: 10px;
}
main .container-main .container-busqueda .sugerencias .publicaciones-sugeridas section .publicacion .numero-likes-comentarios {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
main .container-main .container-busqueda .sugerencias .publicaciones-sugeridas section .publicacion .numero-likes-comentarios .numero-likes {
  display: flex;
  align-items: center;
  gap: 5px;
}
main .container-main .container-busqueda .sugerencias .publicaciones-sugeridas section .publicacion .numero-likes-comentarios .numero-likes span {
  color: #FF007F;
}
main .container-main .container-busqueda .sugerencias .publicaciones-sugeridas section .publicacion .numero-likes-comentarios .numero-likes i {
  color: #00BFFF;
}
main .container-main .container-busqueda .sugerencias .publicaciones-sugeridas section .publicacion .numero-likes-comentarios .numero-comentarios {
  display: flex;
  align-items: center;
  gap: 5px;
}
main .container-main .container-busqueda .sugerencias .publicaciones-sugeridas section .publicacion .numero-likes-comentarios .numero-comentarios span {
  color: #00BFFF;
}
main .container-main .container-busqueda .sugerencias .publicaciones-sugeridas section .publicacion .numero-likes-comentarios .numero-comentarios i {
  color: #FF007F;
}
main .container-main .container-busqueda .sugerencias .publicaciones-sugeridas section .publicacion .boton-detalle {
  text-decoration: none;
  font-size: 13px;
  display: inline-block;
  text-shadow: 0px 0px 10px #FF007F;
}

.container-conversaciones .mensaje-1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container-conversaciones .mensaje-1 .imagen-perfil-usuario {
  width: 2%;
  height: 2%;
  border-radius: 100%;
  margin-right: 5px;
}
.container-conversaciones .mensaje-1 .eliminar-mensajes {
  border: 0;
  background-color: transparent;
}
.container-conversaciones .mensaje-1 p {
  margin-right: 10px;
}
.container-conversaciones .mensaje-2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container-conversaciones .mensaje-2 .imagen-perfil-usuario {
  width: 2%;
  height: 2%;
  border-radius: 100%;
  margin-left: 5px;
}
.container-conversaciones .mensaje-2 .eliminar-mensajes {
  border: 0;
  background-color: transparent;
}
.container-conversaciones .mensaje-2 p {
  margin-left: 10px;
}

.main-notificaciones {
  width: 100%;
  display: flex;
  justify-content: center;
}

.notificaciones {
  display: flex;
  flex-direction: column;
}
.notificaciones a {
  text-decoration: none;
  background-color: #00BFFF;
  border-bottom: 1px solid #FF007F;
  padding: 20px 30px;
  display: block;
  color: #FFFFFF;
}

main .container-main .title-contactos {
  font-size: 20px;
  text-align: center;
  margin-bottom: 35px;
}
main .container-main .container-publicaciones-mis-contactos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
main .container-main .container-publicaciones-mis-contactos .publicacion {
  width: 100%;
  padding: 20px 20px;
  box-shadow: 0px 0px 10px 5px #00BFFF;
  border-radius: 10px;
}
main .container-main .container-publicaciones-mis-contactos .publicacion .imagen-hora-titulo {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}
main .container-main .container-publicaciones-mis-contactos .publicacion .imagen-hora-titulo .imagen {
  width: 20%;
}
main .container-main .container-publicaciones-mis-contactos .publicacion .imagen-hora-titulo .imagen a {
  text-decoration: none;
}
main .container-main .container-publicaciones-mis-contactos .publicacion .imagen-hora-titulo .imagen a .imagen_perfil {
  width: 100%;
  border-radius: 50%;
}
main .container-main .container-publicaciones-mis-contactos .publicacion .imagen-hora-titulo .hora-autor-titulo {
  width: 80%;
}
main .container-main .container-publicaciones-mis-contactos .publicacion .imagen-hora-titulo .hora-autor-titulo .hora-autor a {
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
}
main .container-main .container-publicaciones-mis-contactos .publicacion .imagen-hora-titulo .hora-autor-titulo .hora-autor span {
  font-size: 10px;
}
main .container-main .container-publicaciones-mis-contactos .publicacion .imagen-hora-titulo .hora-autor-titulo .titulo h2 {
  font-size: 13px;
  font-weight: 600;
}
main .container-main .container-publicaciones-mis-contactos .publicacion .imagen_publicacion {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}
main .container-main .container-publicaciones-mis-contactos .publicacion .contenido-publicacion {
  font-size: 10px;
  width: 100%;
  margin-bottom: 10px;
}
main .container-main .container-publicaciones-mis-contactos .publicacion .numero-likes-comentarios {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
main .container-main .container-publicaciones-mis-contactos .publicacion .numero-likes-comentarios .numero-likes {
  display: flex;
  align-items: center;
  gap: 5px;
}
main .container-main .container-publicaciones-mis-contactos .publicacion .numero-likes-comentarios .numero-likes span {
  color: #FF007F;
}
main .container-main .container-publicaciones-mis-contactos .publicacion .numero-likes-comentarios .numero-likes i {
  color: #00BFFF;
}
main .container-main .container-publicaciones-mis-contactos .publicacion .numero-likes-comentarios .numero-comentarios {
  display: flex;
  align-items: center;
  gap: 5px;
}
main .container-main .container-publicaciones-mis-contactos .publicacion .numero-likes-comentarios .numero-comentarios span {
  color: #00BFFF;
}
main .container-main .container-publicaciones-mis-contactos .publicacion .numero-likes-comentarios .numero-comentarios i {
  color: #FF007F;
}
main .container-main .container-publicaciones-mis-contactos .publicacion .boton-detalle {
  text-decoration: none;
  font-size: 13px;
  display: inline-block;
  text-shadow: 0px 0px 10px #FF007F;
}
main .container-main .container-mi-perfil {
  width: 100%;
}
main .container-main .container-mi-perfil .mi-perfil-top {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #00BFFF;
  border-radius: 10px;
  padding: 20px 10px;
  gap: 10px;
  margin-bottom: 50px;
}
main .container-main .container-mi-perfil .mi-perfil-top img {
  width: 30%;
  height: 30%;
  border-radius: 50%;
}
main .container-main .container-mi-perfil .mi-perfil-top .descripcion-mi-perfil {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .container-main .container-mi-perfil .mi-perfil-top .descripcion-mi-perfil .editar-eliminar-mi-perfil {
  display: flex;
  gap: 10px;
  align-items: center;
}
main .container-main .container-mi-perfil .mi-perfil-top .descripcion-mi-perfil .editar-eliminar-mi-perfil p {
  font-size: 10px;
  font-weight: bold;
}
main .container-main .container-mi-perfil .mi-perfil-top .descripcion-mi-perfil .editar-eliminar-mi-perfil .boton-editar {
  text-decoration: none;
  font-size: 8px;
  display: inline-block;
  background-color: #00BFFF;
  color: #FFFFFF;
  padding: 2px 5px;
  border-radius: 2px;
}
main .container-main .container-mi-perfil .mi-perfil-top .descripcion-mi-perfil .editar-eliminar-mi-perfil .boton-eliminar {
  text-decoration: none;
  font-size: 8px;
  display: inline-block;
  background-color: #FFFFFF;
  color: #00BFFF;
  padding: 2px 5px;
  border-radius: 2px;
}
main .container-main .container-mi-perfil .mi-perfil-top .descripcion-mi-perfil .seguidores-seguidos-mi-perfil {
  display: flex;
  gap: 10px;
  align-items: center;
}
main .container-main .container-mi-perfil .mi-perfil-top .descripcion-mi-perfil .seguidores-seguidos-mi-perfil p {
  font-size: 10px;
  font-weight: 600;
}
main .container-main .container-mi-perfil .mi-perfil-top .descripcion-mi-perfil .biografia-mi-perfil p {
  font-size: 12px;
  font-weight: bold;
  color: #CCCCCC;
}
main .container-main .container-mi-perfil .container-mis-ultimas-publicaciones {
  width: 100%;
}
main .container-main .container-mi-perfil .container-mis-ultimas-publicaciones h3 {
  font-size: 15px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}
main .container-main .container-mi-perfil .container-mis-ultimas-publicaciones .mis-ultimas-publicaciones {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
main .container-main .container-mi-perfil .container-mis-ultimas-publicaciones .mis-ultimas-publicaciones .publicacion {
  width: 100%;
  padding: 20px 20px;
  box-shadow: 0px 0px 10px 5px #00BFFF;
  border-radius: 10px;
}
main .container-main .container-mi-perfil .container-mis-ultimas-publicaciones .mis-ultimas-publicaciones .publicacion .imagen-hora-titulo {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}
main .container-main .container-mi-perfil .container-mis-ultimas-publicaciones .mis-ultimas-publicaciones .publicacion .imagen-hora-titulo .imagen {
  width: 20%;
}
main .container-main .container-mi-perfil .container-mis-ultimas-publicaciones .mis-ultimas-publicaciones .publicacion .imagen-hora-titulo .imagen a {
  text-decoration: none;
}
main .container-main .container-mi-perfil .container-mis-ultimas-publicaciones .mis-ultimas-publicaciones .publicacion .imagen-hora-titulo .imagen a .imagen_perfil {
  width: 100%;
  border-radius: 50%;
}
main .container-main .container-mi-perfil .container-mis-ultimas-publicaciones .mis-ultimas-publicaciones .publicacion .imagen-hora-titulo .hora-autor-titulo {
  width: 80%;
}
main .container-main .container-mi-perfil .container-mis-ultimas-publicaciones .mis-ultimas-publicaciones .publicacion .imagen-hora-titulo .hora-autor-titulo .hora-autor a {
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
}
main .container-main .container-mi-perfil .container-mis-ultimas-publicaciones .mis-ultimas-publicaciones .publicacion .imagen-hora-titulo .hora-autor-titulo .hora-autor span {
  font-size: 10px;
}
main .container-main .container-mi-perfil .container-mis-ultimas-publicaciones .mis-ultimas-publicaciones .publicacion .imagen-hora-titulo .hora-autor-titulo .titulo h2 {
  font-size: 13px;
  font-weight: 600;
}
main .container-main .container-mi-perfil .container-mis-ultimas-publicaciones .mis-ultimas-publicaciones .publicacion .imagen_publicacion {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}
main .container-main .container-mi-perfil .container-mis-ultimas-publicaciones .mis-ultimas-publicaciones .publicacion .contenido-publicacion {
  font-size: 10px;
  width: 100%;
  margin-bottom: 10px;
}
main .container-main .container-mi-perfil .container-mis-ultimas-publicaciones .mis-ultimas-publicaciones .publicacion .numero-likes-comentarios {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
main .container-main .container-mi-perfil .container-mis-ultimas-publicaciones .mis-ultimas-publicaciones .publicacion .numero-likes-comentarios .numero-likes {
  display: flex;
  align-items: center;
  gap: 5px;
}
main .container-main .container-mi-perfil .container-mis-ultimas-publicaciones .mis-ultimas-publicaciones .publicacion .numero-likes-comentarios .numero-likes span {
  color: #FF007F;
}
main .container-main .container-mi-perfil .container-mis-ultimas-publicaciones .mis-ultimas-publicaciones .publicacion .numero-likes-comentarios .numero-likes i {
  color: #00BFFF;
}
main .container-main .container-mi-perfil .container-mis-ultimas-publicaciones .mis-ultimas-publicaciones .publicacion .numero-likes-comentarios .numero-comentarios {
  display: flex;
  align-items: center;
  gap: 5px;
}
main .container-main .container-mi-perfil .container-mis-ultimas-publicaciones .mis-ultimas-publicaciones .publicacion .numero-likes-comentarios .numero-comentarios span {
  color: #00BFFF;
}
main .container-main .container-mi-perfil .container-mis-ultimas-publicaciones .mis-ultimas-publicaciones .publicacion .numero-likes-comentarios .numero-comentarios i {
  color: #FF007F;
}
main .container-main .container-mi-perfil .container-mis-ultimas-publicaciones .mis-ultimas-publicaciones .publicacion .boton-detalle {
  text-decoration: none;
  font-size: 13px;
  display: inline-block;
  text-shadow: 0px 0px 10px #FF007F;
}

body {
  overflow-x: hidden;
  background-color: #0D0D0D;
}

.block {
  display: block;
}

* p {
  margin: 0;
}

html * {
  font-family: Orbitron;
  color: #FFFFFF;
}

h1, h2, h3, h4, h5 * {
  margin: 0;
}

main {
  margin-bottom: 50px;
}

/*# sourceMappingURL=styles.css.map */
