{% extends "general/layout.html" %}
{% load crispy_forms_tags %}
{% block head_title %}Stellar Blade{% endblock  %}
{% block page_title %}DETALLE CONVERSACIONES{% endblock  %}
{% block page_content %}
<h2 class="title-conversaciones-detalle">{{conversacion}}</h2>
<div class="container-conversaciones-detail">
    {% for mensajes in conversacion.mensajes.all %}
    {% if mensajes.autor == request.user.perfil %}
        <div class="mensaje-1">
            <div class="imagen-mensaje">
                <img src="{{mensajes.autor.imagen_perfil.thumbnails.xs.url}}" alt="" class="imagen-perfil-usuario">
                <p>{{mensajes.contenido}}</p>
            </div>
            <div class="fecha-borrar-mensaje">
                <span>Hace: {{mensajes.fecha_mensaje | timesince}}</span>
                {% if request.user.perfil == mensajes.autor %}
                <button data-redirect-url="{% url 'mensajes:conversaciones_detail' conversacion.pk %}" data-href="{% url 'mensajes:eliminar_mensaje' mensajes.pk %}" class="eliminar-mensajes" data-mensaje-pk="{{mensajes.pk}}" id="eliminar-mensaje-{{mensajes.pk}}"><i class="bi bi-trash3"></i></button>
                {% endif %}
            </div>
        </div>
    {% else %}
    <div class="mensaje-2">
        <div class="mensaje-imagen">
            <p>{{mensajes.contenido}}</p>
            <img src="{{mensajes.autor.imagen_perfil.thumbnails.xs.url}}" alt="" class="imagen-perfil-usuario">
        </div>
        <div class="borrar-fecha-mensaje">
            {% if request.user.perfil == mensajes.autor %}
            <button data-redirect-url="{% url 'mensajes:conversaciones_detail' conversacion.pk %}" data-href="{% url 'mensajes:eliminar_mensaje' mensajes.pk %}" class="eliminar-mensajes" data-mensaje-pk="{{mensajes.pk}}" id="eliminar-mensaje-{{mensajes.pk}}"><i class="bi bi-trash3"></i></button>
            {% endif %}
            <span>Hace: {{mensajes.fecha_mensaje | timesince}}</span>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% if conversacion.mensajes.all %}
        <form class="form-contestar-mensaje" action="{% url 'mensajes:contestar_mensaje' conversacion.mensajes.last.pk %}" method='POST' data-redirect-url="{% url 'mensajes:conversaciones_detail' conversacion.pk %}">
            {% csrf_token %}
            {{contestar_mensaje.contenido | as_crispy_field}}
            <button class="boton-contestar">Envíar</button>
        </form>
    {% else %}
        <h3 class="title-borrado-conversaciones">Se han borrado los mensajes de esta conversacion</h3>
        <button data-href="{% url 'mensajes:eliminar_conversacion' conversacion.pk %}" class="eliminar-conversaciones" data-conversacion-pk="{{conversacion.pk}}" id="eliminar-conversacion-{{conversacion.pk}}" data-redirect-url="{% url 'mensajes:conversaciones' %}" >Eliminar conversacion</button>
    {% endif %}
</div>
{% endblock  %}
