{% extends "general/layout.html" %}
{% load crispy_forms_tags %}
{% block head_title %}Stellar Blade{% endblock  %}
{% block page_title %}Conversaciones{% endblock  %}
{% block page_content %}
{% if conversaciones %}
    {% for conversacion in conversaciones %}
        <article id="conversacion-{{conversacion.pk}}" data-pk-conversacion="{{conversacion.pk}}">
            <picture>
                <img width="50px" style="border-radius:10px" src="{{conversacion.usuario1.imagen_perfil.url}}" alt="">
            </picture>
            <p>{{conversacion}}</p>
            <a href="{% url 'mensajes:conversaciones_detail' conversacion.pk %}">Ir a la conversacion</a>
        </article>
    {% endfor %}
{% else %}
    <h4>Aun no tienes conversaciones</h4>
{% endif %}
{% endblock  %}