{% extends "general/layout.html" %}
{% load crispy_forms_tags %}
{% block head_title %}Stellar Blade{% endblock  %}
{% block page_title %}CONVERSACIONES{% endblock  %}
{% block page_content %}
<div class="container-conversaciones">
    {% if conversaciones %}
    {% for conversacion in conversaciones %}
        <article class="conversacion" id="conversacion-{{conversacion.pk}}" data-pk-conversacion="{{conversacion.pk}}">
            <img src="{{conversacion.usuario1.imagen_perfil.thumbnails.small.url}}" alt="">
            <div class="conversacion-enlace">
                <p>{{conversacion}}</p>
                <a class="boton-ir-conversacion" href="{% url 'mensajes:conversaciones_detail' conversacion.pk %}">Ir a la conversacion</a>
            </div>
        </article>
    {% endfor %}
    {% else %}
        <h3>Aún no tienes conversaciones</h3>
    {% endif %}
</div>
{% endblock  %}