{% extends "general/layout.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}Stellar Blade{% endblock  %}
{% block description %}{% trans "Pagina donde se encuentras las conversaciones, con el que puedes ir directo a los mensajes" %}{% endblock %}
{% block page_title %}{% trans "CONVERSACIONES" %}{% endblock  %}
{% block page_content %}
<div class="container-conversaciones">
    {% if conversaciones %}
    {% for conversacion in conversaciones %}
        <article class="conversacion" id="conversacion-{{conversacion.pk}}" data-pk-conversacion="{{conversacion.pk}}">
            {% if conversacion.usuario1.imagen_perfil %}
                <img src="{{conversacion.usuario1.imagen_perfil.thumbnails.xs.url}}" alt="{{conversacion.usuario1.usuario}}">
            {% else %}
                <i class="bi bi-person-circle"></i>
            {% endif %}
            <div class="conversacion-enlace">
                <p>{{conversacion}}</p>
                <a class="boton-ir-conversacion" href="{% url 'mensajes:conversaciones_detail' conversacion.pk %}">{% trans "Ir a la conversación" %}</a>
            </div>
        </article>
    {% endfor %}
    {% else %}
        <h3>{% trans "Aún no tienes conversaciones" %}</h3>
    {% endif %}
</div>
{% endblock  %}