{% extends "general/layout.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}Stellar Blade{% endblock  %}
{% block description %}{% trans "Creacion de un mensaje nuevo" %}{% endblock %}
{% block page_title %}{% trans "NUEVO MENSAJE" %}{% endblock  %}
{% block page_content %}
<div class="container-nuevo-mensaje">
    <form class="formulario-nuevo-mensaje" action="" method='POST'>
        {% csrf_token %}
        {{form.contenido | as_crispy_field}}
        <button class="boton-enviar" >{% trans "Enviar" %}</button>
    </form>
</div>
{% endblock  %}