@use "_variables" as var;

//mixin de breakpoint
@mixin breakpoint($bp){
    @if $bp == tablet{
        @media (min-width: var.$bp-tablet){
            @content;
        }
    }

    @if $bp == tablethorizontal{
        @media (min-width: var.$bp-tablet-horizontal){
            @content;
        }
    }

    @if $bp == desktop{
        @media (min-width: var.$bp-desktop){
            @content;
        }
    }

    @if $bp == desktopxl{
        @media (min-width: var.$bp-desktop-xl){
            @content;
        }
    }

    @if $bp == desktopxxl{
        @media (min-width: var.$bp-desktop-xxl){
            @content;
        }
    }
}

//mixin de reset-list
@mixin reset-list{
    padding: 0;
    margin: 0;
    list-style: none;
}

//mixin de publicacion
@mixin publicacion{
        width: 100%;
        padding: 20px 20px;
        box-shadow: 0px 0px 5px 5px var.$azul-neon;
        border-radius: 10px;
        @include breakpoint(tablet){
            padding: 30px 60px 30px 60px;
        }
        .imagen-hora-titulo{
            width: 100%;
            display: flex;
            gap: 10px;
            align-items: center;
            margin-bottom: 10px;
            @include breakpoint(tablet){
                margin-bottom: 25px;
            }
            .imagen{
                width: 20%;
                @include breakpoint(tablet){
                    width: 10%;
                }
                a{
                    text-decoration: none;
                    .imagen-perfil-movil{
                    width: 100%;
                    border-radius: 50%;
                    @include breakpoint(tablet){
                        display: none;
                        }
                    }
                    .imagen-perfil-tablet{
                        display: none;
                        @include breakpoint(tablet){
                            display: block;
                            width: 100%;
                            border-radius: 50%;
                        }
                    }
                }
            }
            .hora-autor-titulo{
                width: 80%;
                @include breakpoint(tablet){
                    width: 90%;
                }
                .hora-autor{
                    @include breakpoint(tablet){
                        margin-bottom: 10px;
                    }
                    a{
                        text-decoration: none;
                        font-size: 10px;
                        font-weight: bold;
                        @include breakpoint(tablet){
                            font-size: 15px;
                        }
                    }
                    span{
                        font-size: 10px;
                        @include breakpoint(tablet){
                            font-size: 15px;
                        }
                    }
                }
                .titulo{
                    h2{
                        font-size: 13px;
                        font-weight: 600;
                        @include breakpoint(tablet){
                            font-size: 18px;
                            color: var.$rosa-neon;
                        }
                    }
                }
            }
        }
        .imagen_publicacion{
            width: 100%;
            margin-bottom: 10px;
            border-radius: 10px;
            @include breakpoint(tablet){
                display: none;
            }
        }
        .imagen_publicacion_tablet{
            display: none;
            @include breakpoint(tablet){
                display: block;
                width: 100%;
                margin-bottom: 25px;
                border-radius: 10px;
            }
        }
        .contenido-publicacion{
            font-size: 10px;
            width: 100%;
            margin-bottom: 10px;
            @include breakpoint(tablet){
                font-size: 13px;
                margin-bottom: 25px;
            }
        }
        .numero-likes-comentarios{
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin-bottom: 10px;
            @include breakpoint(tablet){
                margin-bottom: 25px;
            }
            .numero-likes{
                display: flex;
                align-items: center;
                gap: 5px;
                span{
                    color: var.$rosa-neon;
                }
                i{
                    color: var.$azul-neon
                }
            }
            .numero-comentarios{
                display: flex;
                align-items: center;
                gap: 5px;
                span{
                    color: var.$azul-neon;
                }
                i{
                    color: var.$rosa-neon;
                }
            }
        }
        .boton-detalle{
            text-decoration: none;
            font-size: 13px;
            display: inline-block;
            text-shadow: 0px 0px 10px var.$rosa-neon;
            @include breakpoint(tablet){
                font-size: 15px;
                text-shadow: none;
                color: var.$rosa-neon;
                padding: 10px 15px;
                background-color: var.$negro-espacial;
                border: 1px solid var.$azul-neon;
                border-radius: 15px;
                transition: background-color 1s linear,
                color 1s linear, border 1s linear, box-shadow 1s linear;
                &:hover{
                    color: var.$negro-espacial;
                    padding: 10px 15px;
                    background-color: var.$azul-neon;
                    border: 1px solid var.$rojo-neon;
                    border-radius: 15px;
                    box-shadow: 0px 0px 3px 3px var.$blanco;
                }
            }
        }
}

//mixin de perfiles
@mixin perfiles {
    padding: 10px 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 0px 5px 5px var.$rosa-neon;
    border-radius: 10px;
    .perfiles-includes-imagen-usuario{
        display: flex;
        align-items: center;
        width: 100%;
        gap: 20px;
        a{
            width: 20%;
            text-decoration: none;
            img{
                width: 100%;
                border-radius: 50%;
            }
        }
        .usuario-seguidores{
            width: 80%;
            h2{
                font-size: 15px;
                font-weight: bold;
            }
            span{
                font-size: 10px;
            }
        }
    }
    p{
        font-size: 13px;
        font-weight: 600;
    }
    .ButtonFollows{
        margin: 0;
        padding: 0;
        text-decoration: none;
        .boton-dejar-de-seguir{
            background-color: var.$gris-oscuro;
            border: 0;
            padding: 5px 10px;
            border: 1px solid var.$gris-claro;
            font-size: 10px;
            border-radius: 3px;
        }
        .boton-seguir{
            background-color: var.$azul-neon;
            border: 0;
            padding: 5px 10px;
            border: 1px solid var.$rosa-neon;
            font-size: 10px;
            border-radius: 3px;
        }
    }
}