//variables de breakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1280px;
$bp-desktop-xl: 1440px;
$bp-desktop-xxl: 1920px;

//variables de colores
$negro-espacial: #0D0D0D;
$gris-oscuro: #1E1E1E;
$azul-neon:#00BFFF;
$rosa-neon:#FF007F;
$blanco: #FFFFFF;
$gris-claro: #CCCCCC;
$rojo-neon: #FF073A;

//variables de fuentes
$orbitron: Orbitron;