{% extends "general/layout.html" %}
{% load crispy_forms_tags %}
{% block head_title %}Stellar Blade{% endblock  %}
{% block page_title %}Busqueda y sugerencias{% endblock  %}
{% block page_content %}
<h2 class="title-home" >Busqueda y sugerencias</h2>
<div class="container-busqueda">
    <div class="resultado-busqueda">
        <form action="" method="GET">
            {{formulario.value| as_crispy_field}}
            <button>Buscar</button>
        </form>
        <section class="publicaciones-busqueda">
            {% if publicaciones %}
                <h2>Publicaciones encontradas</h2>
            {% endif %}
            {% for publicacion in publicaciones %}
                {% include "_includes/_publicaciones.html" %}
            {% endfor %}
        </section>
    
        <section class="usuarios-busqueda" >
            {% if usuarios %}
                <h2>Usarios encontrados</h2>
            {% endif %}
            {% for perfil in usuarios %}
                {% include "_includes/_perfiles.html" %}
            {% endfor %}
        </section>
    </div>

    <div class="sugerencias">
        {% if all_users %}
            <section class="perfiles-sugeridos">
                <h2>Perfiles sugeridos</h2>
                <section>
                    {% for perfil in all_users %}
                        {% include "_includes/_perfiles.html" %}
                    {% endfor %}
                </section>
            </section>
        {% else %}
            <h2>No hay sugerencias de perfiles</h2>
        {% endif %}

        {% if all_publicaciones %}
            <section class="publicaciones-sugeridas">
                <h2>Publicaciones sugeridas</h2>
                <section>
                    {% for publicacion in all_publicaciones %}
                        {% include "_includes/_publicaciones.html" %}
                    {% endfor %}
                </section>
            </section>
        {% else %}
            <h2>No hay sugerencias de publicaciones</h2>
        {% endif %}
    </div>
</div>
{% endblock  %}