{% extends "general/layout.html" %}
{% load crispy_forms_tags %}
{% block head_title %}Stellar Blade{% endblock  %}
{% block page_title %}Busqueda{% endblock  %}
{% block page_content %}
<h2 class="title-home" >Introduce tu busqueda</h2>
<div class="container-busqueda">
    <form action="" method="GET">
        {{formulario.value| as_crispy_field}}
        <button>Buscar</button>
    </form>

    <section>
        {% if publicaciones %}
            <h2>Publicaciones encontradas</h2>
        {% endif %}
        {% for publicacion in publicaciones %}
            {% include "_includes/_publicaciones.html" %}
        {% endfor %}
    </section>

    <section>
        {% if usuarios %}
            <h2>Usarios encontrados</h2>
        {% endif %}
        {% for perfil in usuarios %}
            {% include "_includes/_perfiles.html" %}
        {% endfor %}
    </section>

    <section class="perfiles-sugeridos">
        <h2>Perfiles sugeridos</h2>
        <section class="perfiles">
            {% for perfil in all_users %}
                {% include "_includes/_perfiles.html" %}
            {% endfor %}
        </section>
    </section>
</div>
{% endblock  %}