{% load static %}
<!doctype html>
<html lang="es">

<head>
  <!--Aqui el titulo para los buscadores-->
  <title>{% block head_title %}Titulo base{% endblock %}</title>
  
  <!--Descripcion que sale al buscarlo en el navegador-->
  <meta name="description" content="App creada por un fan para que la comunidad pueda subir contenido y disfrutar de Stellar Blade">

  <!--Palabras claves para los buscadores en navegadores-->
  <meta name="keywords" content="Stellar Blade, Eve, Adam, Lily, Raven, Naytibos, apocalipsis, dron, nier automata">

  <!--Autor de la pagina-->
  <meta name="autor" content="Fran">

    <!--Favicon de la pagina(icono)-->
  <link rel="" href="" type="">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

  <link rel="stylesheet" href="{% static 'css/styles.css' %}">


  <!--Codificacion-->
  <meta charset="UTF-8">

  <!--Para que la web sea resposinve(El tamaño segun el dispositivo)-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--Para algunos navegadores moviles(Color parte de arriba del HEADER)-->
  <meta name="theme-color" content="FF0000">
</head>
<body>
  <div class="container">
    <header>
      <h1>{% block page_title %}Titulo de la pagina{% endblock  %}</h1>
        {% include '_includes/_header.html' %}
        {% include '_includes/_messages.html' %}
    </header>

    {% block page_content %}

    {% endblock %}

    {% include '_includes/_footer.html' %}
  </div>
  <script>

    //evento para seguir y dejar de seguir a usuarios
    const buttonsFollows = document.querySelectorAll('.ButtonFollows')
    let mensajeFollow = document.querySelector('.mensaje-follow')
    if (buttonsFollows){
      buttonsFollows.forEach(buttonFollow =>{
        const perfilPk = buttonFollow.dataset.perfilId
        let nSeguidores = document.getElementById(`Nseguidores-${perfilPk}`)
        buttonFollow.addEventListener('click', event => {
          event.preventDefault()
          fetch(buttonFollow.href)
          .then(response => response.json())
          .then(data =>{
            nSeguidores.innerHTML = `<h3>Seguidores: ${data.numero_seguidores} </h3>`
            if(data.follow){
              buttonFollow.innerHTML = '<button type="button" class="btn btn-outline-primary btn-sm">Dejar de seguir</button>'
              mensajeFollow.innerHTML = `<p class="alert alert-primary">${data.mensaje}</p>`
            }else{
              buttonFollow.innerHTML = ' <button type="button" class="btn btn-outline-dark btn-sm">Seguir</button>'
              mensajeFollow.innerHTML = `<p class="alert alert-danger">${data.mensaje}</p>`
            }
          })
        })
      })
    }

    //evento para dar me gusta a una publicacion
    const LikesButtons = document.querySelectorAll('.LikesButtons')
    let mensajeLikes = document.querySelector('.mensaje-likes')
    if(LikesButtons){
      LikesButtons.forEach(buttonLike => {
        const publicacionPk = buttonLike.dataset.publicacionId
        let nLikes = document.getElementById(`NumeroLikes-${publicacionPk}`)
        buttonLike.addEventListener('click', event => {
          event.preventDefault()
          fetch(buttonLike.href)
          .then(response => response.json())
          .then( data => {
            nLikes.innerHTML = data.numero_likes
            if(data.like){
              buttonLike.innerHTML = '<i class="bi bi-heart-fill"></i>'
              mensajeLikes.innerHTML = `<p class="alert alert-primary">${data.mensaje}</p>`
            }else{
              buttonLike.innerHTML = '<i class="bi bi-heart"></i>'
              mensajeLikes.innerHTML = `<p class="alert alert-danger">${data.mensaje}</p>`
            }
          })
        })
      })
    }

    //evento para poder responder a un comentario por peticion ajax
    const FormResponder = document.querySelectorAll('.FormRespuesta')
    let mensajesContestarComentarios = document.querySelector('.mensajes-contestar-comentarios')
    FormResponder.forEach(form => {
      form.addEventListener('submit', event => {
        event.preventDefault()

        const formData = new FormData(form)//aqui metemos todos los datos del formulario
        
        fetch(form.action, {//con esto evitamos que nos abra un json en otra pagina del navegador
          method: 'POST',
          body: formData,
          header: {
            'X-Request-Width': 'XMLHttpRequest'//le decimos a django que es una peticion Ajax
          }
        })
        .then(response => response.json())
        .then(data => {
          if(data.mensaje){
            mensajesContestarComentarios.innerHTML = `<p class="alert alert-primary">${data.mensaje}</p>`
            form.reset()//con esto limpiamos el formulario
          }else{
            mensajesContestarComentarios.innerHTML = `<p class="alert alert-primary">${data.error}</p>`
          }
        })
      })
    })

    //evento para abrir formulario para nuevo comentario
    let ButtonNuevoComentario = document.querySelectorAll('.ButtonNuevoComentario')
    let FormComentario = document.querySelector('.FormComentario')
    ButtonNuevoComentario.forEach(button => {
      button.addEventListener('click', () => {
        FormComentario.classList.toggle('block')
      })
    })

    //evento para abrir formulario para responder comentarios
    let buttonResponderComentarios = document.querySelectorAll('.BotonResponder')
    buttonResponderComentarios.forEach(button => {
      const comentarioPk = button.dataset.comentarioPk
      const formRespuesta = document.getElementById(`FormRespuesta-${comentarioPk}`)
      button.addEventListener('click', () => {
        formRespuesta.classList.toggle('block')
      })
    })

    //evento para ver todos las respuestas de un comentario
    let buttonVerRespuestas = document.querySelectorAll('.VerRespuestas')
    buttonVerRespuestas.forEach(button => {
      const comentarioPk = button.dataset.comentarioPk 
      const containerRespuestas = document.getElementById(`container-respuestas-${comentarioPk}`)
      button.addEventListener('click', () => {
        containerRespuestas.classList.toggle('block')
      })
    })
  </script>
</body>
</html>