{% extends "general/layout.html" %}
{% load crispy_forms_tags %}
{% block head_title %}Stellar Blade{% endblock %}
{% block description %}Pagina de inicio de sesion{% endblock %}
{% block page_title %}ACCEDE A TU CUENTA{% endblock  %}
{% block page_content %}
<div class="container-login">
    <form class="formulario-login" action="" method = 'POST'>
        {% csrf_token %}
        {{form.username | as_crispy_field}}
        {{form.password | as_crispy_field}}
        <div class="container-checkbox-recuperar">
            <label class="checkbox-login">
                <input type="checkbox" name="recuerdame">
                Recúerdame
            </label>
            <a class="recuperar-contraseña" href="{% url 'password_reset' %}">¿Has olvidado la contraseña?</a>
        </div>
        <button class="boton-login">Acceder</button>
    </form>
</div>
{% endblock %}