{% extends "general/layout.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}Stellar Blade{% endblock %}
{% block description %}{% trans "Pagina de creacion de una cuenta en la web" %}{% endblock %}
{% block page_title %}{% trans "REGISTRATE" %}{% endblock  %}
{% block page_content %}
<div class="container-registro">
    <form class="formulario-crear-cuenta" action="" method = 'POST'>
        {% csrf_token %}
        {{form.username | as_crispy_field}}
        {{form.email | as_crispy_field}}
        {{form.password | as_crispy_field}}
        {{form.password_confirm | as_crispy_field}}
        <button class="boton-registro">{% trans "Crear cuenta" %}</button>
    </form>
</div>
{% endblock %}