<article>
    <div class="d-flex align-items-center">
        {% if publicacion.autor.imagen_perfil %}
        <picture>
            <img width='50px' height='50px' style='border-radius:30px' src="{{publicacion.autor.imagen_perfil.url}}" alt="">
        </picture>
        {% endif %}
        <div>
            <p>{{publicacion.autor}}</p>
            <p>{{publicacion.fecha_publicacion}}</p>
        </div>
    </div>
    {% if publicacion.imagen %}
    <picture>
        <img width='200px' height='200px' style='border-radius:10px' src="{{publicacion.imagen.url}}" alt="">
    </picture>
    {% endif %}
    <p>{{publicacion.contenido}}</p>
    <div class="row">
        <div class="col">
            <span id="NumeroLikes-{{publicacion.pk}}">{{publicacion.likes.count}}</span>
            <a class="LikesButtons" data-publicacion-id = {{publicacion.pk}} href="{% url 'publicaciones:like' publicacion.pk %}">
                {% if request.user.perfil in publicacion.likes.all %}
                    <i class="bi bi-heart-fill"></i>
                {% else %}
                    <i class="bi bi-heart"></i>
                {% endif %}
            </a>
        </div>
        <div class="col">
            <span>{{publicacion.comentarios.count}}
                {% if publicacion.comentarios.count %}
                    <i class="bi bi-chat-dots-fill"></i>
                {% else %}
                    <i class="bi bi-chat-dots"></i>
                {% endif %}
            </span>
        </div>
    </div>
    <a href="{% url 'publicaciones:detalle' publicacion.pk %}"><button type="button" class="btn btn-primary btn-sm">Detalle de publicacion</button></a>
</article>