<article class="publicacion">
    <div class="imagen-hora-titulo">
        <div class="imagen">
            {% if publicacion.autor.imagen_perfil %}
                <a href="{% url 'usuarios:detail' publicacion.autor.pk %}">
                    <img class="imagen_perfil" src="{{publicacion.autor.imagen_perfil.thumbnails.small.url}}" alt="">
                </a>
            {% endif %}
        </div>
        <div class="hora-autor-titulo">
            <div class="hora-autor">
                <a href="{% url 'usuarios:detail' publicacion.autor.pk %}">{{publicacion.autor}}</a>
                <span>- {{publicacion.fecha_publicacion | timesince}}</span>
            </div>
            <div class="titulo">
                <h2>{{publicacion.titulo}}</h2>
            </div>
        </div>
    </div>
    {% if publicacion.imagen %}
        <img class="imagen_publicacion" src="{{publicacion.imagen.url}}" alt="">
    {% endif %}
    <p class="contenido-publicacion" >{{publicacion.contenido | truncatechars:10}}...</p>
    <div class="numero-likes-comentarios">
        <div class="numero-likes">
            <span id="NumeroLikes-{{publicacion.pk}}">{{publicacion.likes.count}}</span>
            <a class="LikesButtons" data-publicacion-id = {{publicacion.pk}} href="{% url 'publicaciones:like' publicacion.pk %}">
                {% if request.user.perfil in publicacion.likes.all %}
                    <i class="bi bi-heart-fill"></i>
                {% else %}
                    <i class="bi bi-heart"></i>
                {% endif %}
            </a>
        </div>
        <div class="numero-comentarios">
            <span>{{publicacion.total_comentarios}}
                {% if publicacion.comentarios.count %}
                    <i class="bi bi-chat-dots-fill"></i>
                {% else %}
                    <i class="bi bi-chat-dots"></i>
                {% endif %}
            </span>
        </div>
    </div>
    <a class="boton-detalle" href="{% url 'publicaciones:detalle' publicacion.pk %}">Detalle de la publicacion</a>
</article>