{% extends "general/layout.html" %}
{% load crispy_forms_tags %}
{% block head_title %}Stellar Blade{% endblock  %}
{% block page_title %}DETALLE PUBLICACION{% endblock %}
{% block page_content %}
<h2 class="title-detalle-publicacion">{{publicacion.titulo | upper }}</h2>
<div class="container-detalle-publicacion">
    <div class="publicacion-detalle-imagen-descripcion">
        <div class="imagen-publicacion-detalle">
            {% if publicacion.autor.imagen_perfil %}
                <a href="{% url 'usuarios:detail' publicacion.autor.pk %}"><img src="{{publicacion.autor.imagen_perfil.thumbnails.small.url}}" alt="{{publicacion.autor.usuario}}"></a>
            {% endif %}
        </div>
        <div class="descripcion-publicacion-detalle" >
            <p class="autor-fecha" >{{publicacion.autor}} - Hace:{{publicacion.fecha_publicacion | timesince}}</p>
            <p class="titulo" >{{publicacion.titulo}}</p>
        </div>
    </div>

    <div class="publicacion-detalle-imagen-large">
        {% if publicacion.imagen %}
            <img src="{{publicacion.imagen.url}}" alt="">
        {% endif %}
    </div>

    <div class="publicacion-detalle-contenido">
        <p>{{publicacion.contenido}}</p>
    </div>

    <div class="publicacion-detalle-likes-comentarios">
        <div class="likes">
            <span id="NumeroLikes-{{publicacion.pk}}">{{publicacion.likes.count}}</span>
            <a class="LikesButtons" data-publicacion-id = {{publicacion.pk}} href="{% url 'publicaciones:like' publicacion.pk %}">
                {% if request.user.perfil in publicacion.likes.all %}
                    <i class="bi bi-heart-fill"></i>
                {% else %}
                    <i class="bi bi-heart"></i>
                {% endif %}
            </a>
        </div>
        <div class="comentarios">
            <button class="ButtonNuevoComentario" >{{publicacion.total_comentarios}}
                {% if publicacion.comentarios.count %}
                    <i class="bi bi-chat-dots-fill"></i>
                {% else %}
                    <i class="bi bi-chat-dots"></i>
                {% endif %}
            </button>
        </div>
    </div>

    {% if publicacion.comentarios.count %}
        <div class="publicacion-detalle-comentarios-respuestas">
            <h3>Comentarios de la publicacion</h3>
            {% for comentario in publicacion.comentarios.all %}
            <article class="container-comentarios-respuestas">
                <div class="container-comentarios" id="container-comentario-{{comentario.pk}}">
                    <span>
                        <a href="{% url 'usuarios:detail' comentario.autor.pk %}">
                            <img src="{{comentario.autor.imagen_perfil.thumbnails.small.url}}" alt="{{comentario.autor.usuario}}">
                        </a>
                        <p>{{comentario.autor.usuario}}</p>
                        <p>{{comentario.fecha_comentario | date:"Y/m/d H:i"}}</p>
                    </span>
                    <p class="TextoComentario" >{{comentario.texto}}</p>
                    {% if comentario.autor == request.user.perfil %}
                        <button data-comentario-pk="{{comentario.pk}}" class="EliminarComentario" data-href="{% url 'publicaciones:eliminar_comentario' pk=comentario.pk %}">Eliminar comentario</button>
                    {% endif %}
                    <button data-comentario-pk={{comentario.pk}} class="BotonResponder" >Responder</button>
                    {% if comentario.respuestas.count %}
                        <button class="VerRespuestas" data-comentario-pk="{{comentario.pk}}">Ver respuestas</button>
                    {% endif %}
                </div>

                {% if comentario.respuestas.count %}
                <div class="container-respuestas"  id="container-respuestas-{{comentario.pk}}">
                    <h5>Respuestas al comentario</h5>
                    {% for respuesta in comentario.respuestas.all  %}
                        <div id="container-respuesta-{{respuesta.pk}}">
                            <span>
                                <a href="{% url 'usuarios:detail' respuesta.autor.pk %}">
                                    <img src="{{respuesta.autor.imagen_perfil.thumbnails.small.url}}" alt="{{comentario.autor.usuario}}">
                                </a>
                                <p>{{respuesta.autor.usuario}}</p>
                                <p>{{respuesta.fecha_respuesta | date:"Y/m/d H:i"}}</p>
                            </span>
                            <p class="TextoRespuesta">{{respuesta}}</p>
                            {% if request.user.perfil == respuesta.autor %}
                                <button class="eliminarRespuesta" data-respuesta-pk="{{respuesta.pk}}" data-href="{% url 'publicaciones:eliminar_respuesta' respuesta.pk %}">Eliminar respuesta</button>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                {% endif %}

                <form class='FormRespuesta' id="FormRespuesta-{{comentario.pk}}" method="POST" action="{% url 'publicaciones:contestar_comentario' comentario.pk%}">
                    {% csrf_token %}
                    <input type="hidden" name="publicacion_pk" value="{{publicacion.pk}}">
                    {{contestar_form.respuesta | as_crispy_field}}
                    <button class="boton-responder">Responder</button>
                </form>
            </article>
            {% endfor %}
        </div>
    {% else %}
        <h4>En esta publicacion todavia no hay comentarios</h4>
    {% endif %}

    {% if request.user.is_authenticated %}
    <div class="FormComentario">
        <form action="" method='POST' >
            {% csrf_token %}
            {{form.texto | as_crispy_field}}
            <button class="boton-comentar" >Comentar</button>
        </form>
    </div>
    {% endif %}

    {% if publicacion.autor == request.user.perfil %}
        <div class="botones-editar-eliminar-publicacion-detalle">
            <a class="boton-editar" href="{% url 'publicaciones:editar' publicacion.pk %}">Editar</a>
            <a class="boton-eliminar" href="{% url 'publicaciones:delete' publicacion.pk %}">Eliminar</a>
        </div>
    {% endif %}
</div>
{% endblock  %}